Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-04, with the labels that each got.

#652 Only match last part between parenthesis when matching model id
  custom_components/powercalc/model_discovery.py
Labels: bug

#651 Allow addition of entity_category to sensors
  README.md
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/power.py
Labels: enhancement

#656 Add Hue white A60 bulb E27 (LWF001)
  custom_components/powercalc/data/signify/LWF001/brightness.csv.gz
  custom_components/powercalc/data/signify/LWF001/model.json
Labels: new model

#654 Add Hue white A60 bulb E27 (LWW001)
  custom_components/powercalc/data/signify/LWW001/brightness.csv.gz
  custom_components/powercalc/data/signify/LWW001/model.json
Labels: new model

#664 Fix autodiscovery for models containing a slash
  custom_components/powercalc/light_model.py
  custom_components/powercalc/model_discovery.py
Labels: bug

#670 Fix missing units in HA 2022.5 dev
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/power.py
Labels: bug

#673 Added LWE002 Hue White E14 SES Candle 470lm w/ BT
  custom_components/powercalc/const.py
  custom_components/powercalc/data/signify/LWE002/brightness.csv.gz
  custom_components/powercalc/data/signify/LWE002/model.json
  docs/supported_models.md
Labels: new model

#674 Add Lidl E14: HG06106B & HG06492B
  custom_components/powercalc/data/lidl/HG06106B/brightness.csv.gz
  custom_components/powercalc/data/lidl/HG06106B/color_temp.csv.gz
  custom_components/powercalc/data/lidl/HG06106B/hs.csv.gz
  custom_components/powercalc/data/lidl/HG06106B/model.json
  custom_components/powercalc/data/lidl/HG06492B/color_temp.csv.gz
  custom_components/powercalc/data/lidl/HG06492B/model.json
Labels: new model

#679 Remove deprecated unit_of_measurement option
  custom_components/powercalc/sensors/energy.py
Labels: bug

#690 Add Yeelight color2 & Signify LTA011
  README.md
  custom_components/powercalc/const.py
  custom_components/powercalc/data/signify/LTA011/color_temp.csv.gz
  custom_components/powercalc/data/signify/LTA011/model.json
  custom_components/powercalc/data/yeelight/YLDP06YL/color_temp.csv.gz
  custom_components/powercalc/data/yeelight/YLDP06YL/hs.csv.gz
  custom_components/powercalc/data/yeelight/YLDP06YL/model.json
  docs/yeelight.md
Labels: lightmodel

#692 Fixes for utility_meter tariff selection
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#694 Add LUT for CLA60 TW OSRAM
  custom_components/powercalc/data/osram/CLA60 TW/color_temp.csv.gz
  custom_components/powercalc/data/osram/CLA60 TW/model.json
  docs/supported_models.md
Labels: lightmodel

#701 Add LUT for LIFX Mini Color
  custom_components/powercalc/data/lifx/LIFX Mini Color/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Mini Color/model.json
Labels: lightmodel
