Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-05, with the labels that each got.

#711 Added files for LTA009and LTE002 signify bulbs
  custom_components/powercalc/data/signify/LTA009/color_temp.csv.gz
  custom_components/powercalc/data/signify/LTA009/model.json
  custom_components/powercalc/data/signify/LTE002/color_temp.csv.gz
  custom_components/powercalc/data/signify/LTE002/model.json
Labels: new model

#713 Measure tool: Add possibility to predefine question answers in dot env file
  utils/measure/.env.dist
  utils/measure/measure.py
  utils/measure/powermeter/ocr.py
  utils/measure/powermeter/powermeter.py
Labels: measure-tool

#719 Restore group sensor state after startup, should fix issue with utilty_meters
  custom_components/powercalc/sensors/group.py
Labels: bug

#721 Some additional fixes for grouped energy sensors getting wrong states
  custom_components/powercalc/sensors/group.py
Labels: bug

#722 Add check for min required HA version. Drop support for HA lower than 2021.11
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/power.py
Labels: enhancement

#731 Fix errors reported since v0.20.0
  custom_components/powercalc/sensors/group.py
Labels: bug

#737 Add Signify LCT016
  custom_components/powercalc/data/signify/LCT016/color_temp.csv.gz
  custom_components/powercalc/data/signify/LCT016/hs.csv.gz
  custom_components/powercalc/data/signify/LCT016/model.json
Labels: lightmodel

#745 Fix hacs.json validation
  hacs.json
Labels: bug

#743 Fix utility meter in domain groups
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#742 New light from Paulmann Licht
  custom_components/powercalc/data/paulmann licht/371000002/color_temp.csv.gz
  custom_components/powercalc/data/paulmann licht/371000002/hs.csv.gz
  custom_components/powercalc/data/paulmann licht/371000002/model.json
  docs/supported_models.md
Labels: new model, lightmodel
