Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-08, with the labels that each got.

#934 Add Malmbergs Sirius III 9970020
  custom_components/powercalc/data/malmbergs/9970020/brightness.csv.gz
  custom_components/powercalc/data/malmbergs/9970020/color_temp.csv.gz
  custom_components/powercalc/data/malmbergs/9970020/model.json
Labels: lightmodel

#941 Set light transition time to zero
  utils/measure/light_controller/hass.py
Labels: enhancement, measure-tool

#944 Allow users to change the entity_id when the entity has an unique id
  custom_components/powercalc/sensors/abstract.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/power.py
  tests/test_sensor.py
Labels: bug

#945 Potential fix for domain group utility meter error
  custom_components/powercalc/sensors/group.py
  tests/test_init.py
Labels: bug

#948 Add LIFX Mini White - Brightness
  custom_components/powercalc/data/lifx/LIFX Mini White/brightness.csv.gz
  custom_components/powercalc/data/lifx/LIFX Mini White/model.json
Labels: lightmodel

#940 Add Nudging
  utils/measure/.env.dist
  utils/measure/measure.py
Labels: enhancement, measure-tool

#953 Fix Power calculation with Dummy Load
  utils/measure/measure.py
Labels: bug, measure-tool

#952 Rewrite readme introduction
  README.md
Labels: documentation, enhancement

#966 Implement selection of sub profiles in config flow
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/strategy/lut.py
  custom_components/powercalc/strings.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/nl.json
  tests/power_profile/test_library.py
  tests/test_config_flow.py
Labels: enhancement, lut strategy, config-flow

#967 Add Elgato Key Light - Color Temp
  custom_components/powercalc/data/elgato/Elgato Key Light/color_temp.csv.gz
  custom_components/powercalc/data/elgato/Elgato Key Light/model.json
Labels: lightmodel

#974 Fix bug with grouped utility meters created incorrectly
  custom_components/powercalc/sensors/group.py
  tests/sensors/test_group.py
Labels: bug

#981 Fix bug where template could not be used in daily energy using config flow
  custom_components/powercalc/sensor.py
  tests/sensors/test_daily_energy.py
Labels: bug

#990 Prefer user configured entity to autodiscovered one
  custom_components/powercalc/__init__.py
  custom_components/powercalc/sensor.py
  tests/test_init.py
Labels: bug

#992 Option in config flow to add virtual power sensor to group on creation
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/strings.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/nl.json
  tests/sensors/test_group.py
Labels: enhancement, group, config-flow

#998 Improve and fix binding powercalc entities to source entity device
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/abstract.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/sensors/utility_meter.py
  tests/test_sensor.py
Labels: bug

#1000 Implement powercalc service to calibrate utility_meter
  custom_components/powercalc/common.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/services.yaml
Labels: bug, utility-meter

#1011 Drop support for HA < 2022.5.0
  custom_components/powercalc/const.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#1008 Add 2 Gledopto, 3 Hue and 1 WiZ light
  custom_components/powercalc/data/gledopto/GL-S-005Z/color_temp.csv.gz
  custom_components/powercalc/data/gledopto/GL-S-005Z/hs.csv.gz
  custom_components/powercalc/data/gledopto/GL-S-005Z/model.json
  custom_components/powercalc/data/gledopto/GL-S-007Z/color_temp.csv.gz
  custom_components/powercalc/data/gledopto/GL-S-007Z/hs.csv.gz
  custom_components/powercalc/data/gledopto/GL-S-007Z/model.json
  custom_components/powercalc/data/signify/LCA003/color_temp.csv.gz
  custom_components/powercalc/data/signify/LCA003/hs.csv.gz
  custom_components/powercalc/data/signify/LCA003/model.json
  custom_components/powercalc/data/signify/LCB001/color_temp.csv.gz
  custom_components/powercalc/data/signify/LCB001/hs.csv.gz
  custom_components/powercalc/data/signify/LCB001/model.json
  custom_components/powercalc/data/signify/LCD002/color_temp.csv.gz
  custom_components/powercalc/data/signify/LCD002/hs.csv.gz
  custom_components/powercalc/data/signify/LCD002/model.json
  custom_components/powercalc/data/wiz/9290022650/brightness.csv.gz
  custom_components/powercalc/data/wiz/9290022650/model.json
Labels: lightmodel

#1021 Fix typing issue 'int' object has no attribute 'replace'
  custom_components/powercalc/power_profile/model_discovery.py
  tests/power_profile/test_model_discovery.py
Labels: bug

#1024 Fix directory listing error
  custom_components/powercalc/power_profile/library.py
Labels: bug

#1026 ADD Innr RS 227 T
  custom_components/powercalc/data/innr/RS 227 T/color_temp.csv.gz
  custom_components/powercalc/data/innr/RS 227 T/model.json
Labels: lightmodel

#1031 Add test for custom naming pattern
  tests/sensors/test_group.py
Labels: bug

#1032 Fix utility meters created from config flow can be renamed correctly
  custom_components/powercalc/sensor.py
  tests/test_sensor.py
Labels: bug

#1037 Fix several issues preventing users to rename entities
  custom_components/powercalc/__init__.py
  custom_components/powercalc/sensors/abstract.py
  custom_components/powercalc/sensors/power.py
  tests/test_init.py
  tests/test_sensor.py
Labels: bug

#1038 Fix cannot find component utility_meter
  custom_components/powercalc/manifest.json
Labels: bug

#1040 Fix domain group entity_id issues
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  tests/test_init.py
Labels: bug

#1045 Fix model.json file not found errors
  custom_components/powercalc/power_profile/model_discovery.py
  tests/power_profile/test_model_discovery.py
Labels: bug

#1048 Fix minor typing issues, and code cleanups
  custom_components/powercalc/helpers.py
  custom_components/powercalc/sensors/utility_meter.py
  custom_components/powercalc/strategy/fixed.py
  custom_components/powercalc/strategy/lut.py
  custom_components/powercalc/strategy/wled.py
Labels: bug
