Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-10, with the labels that each got.

#1047 Add support for smart speakers and add some profiles to the library
  .github/scripts/supported_models/generate_file.py
  README.md
  custom_components/powercalc/__init__.py
  custom_components/powercalc/aliases.py
  custom_components/powercalc/const.py
  custom_components/powercalc/data/denon/HEOS 1 HS2/model.json
  custom_components/powercalc/data/google/Home Mini (HOA)/model.json
  custom_components/powercalc/data/google/Home/model.json
  custom_components/powercalc/data/google/Nest Mini (H2C)/model.json
  custom_components/powercalc/data/harman kardon/HK Citation MultiBeam 700/model.json
  custom_components/powercalc/data/lenovo/Smart Clock with Google Assistant/model.json
  custom_components/powercalc/data/model_schema.json
  custom_components/powercalc/power_profile/model_discovery.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/linear.py
  tests/power_profile/device_types/test_media_player.py
  tests/sensors/test_power.py
  tests/testing_config/powercalc_profiles/media_player/model.json
  utils/measure/measure.py
Labels: enhancement

#1177 Fix 500 error when opening autodiscovered options
  custom_components/powercalc/config_flow.py
  tests/test_config_flow.py
Labels: bug, config-flow, autodiscovery

#1174 Add additional models for LIFX A19 Night Vision, LIFX BR30
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_100/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_100/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_100/model.json
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_25/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_25/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_25/model.json
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_50/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX A19 Night Vision/infrared_off/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30/model.json
Labels: lightmodel

#1178 Fix error when loading a light with sub profiles (i.e. infrared light)
  custom_components/powercalc/power_profile/library.py
  tests/power_profile/device_types/test_infrared_light.py
  tests/testing_config/powercalc_profiles/infrared_light/infrared_100/color_temp.csv.gz
  tests/testing_config/powercalc_profiles/infrared_light/infrared_100/hs.csv.gz
  tests/testing_config/powercalc_profiles/infrared_light/infrared_100/model.json
  tests/testing_config/powercalc_profiles/infrared_light/infrared_25/color_temp.csv.gz
  tests/testing_config/powercalc_profiles/infrared_light/infrared_25/hs.csv.gz
  tests/testing_config/powercalc_profiles/infrared_light/infrared_25/model.json
  tests/testing_config/powercalc_profiles/infrared_light/infrared_50/color_temp.csv.gz
  tests/testing_config/powercalc_profiles/infrared_light/infrared_off/color_temp.csv.gz
Labels: bug

#1179 Fix LIFX infrared sub profile matching
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensors/power.py
  tests/power_profile/device_types/test_infrared_light.py
  tests/power_profile/test_power_profile.py
  tests/sensors/test_power.py
  tests/strategy/common.py
  tests/testing_config/powercalc_profiles/infrared_light/model.json
  tests/testing_config/powercalc_profiles/sub_profile_attribute_match/model.json
Labels: bug

#1189 Add support for Hue Enrave Medium
  custom_components/powercalc/data/signify/915005996601/color_temp.csv.gz
  custom_components/powercalc/data/signify/915005996601/model.json
Labels: lightmodel

#1198 Fix WLED estimated_current entity search by device_class
  custom_components/powercalc/strategy/wled.py
  tests/strategy/test_wled.py
Labels: bug

#1204 Fix 400 error when opening group options
  custom_components/powercalc/__init__.py
Labels: bug
