Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-02, with the labels that each got.

#538 Fix bugs with multiply factor and linear range.
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/linear.py
Labels: bug

#543 Fix utility meter entity_id is derived from energy meter entity_id
  custom_components/powercalc/migrate.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#545 Attach powercalc sensors to same device as the source entity
  custom_components/powercalc/common.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/abstract.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: enhancement

#544 Change name from Power consumption to powercalc to avoid confusion
  custom_components/powercalc/manifest.json
Labels: enhancement

#553 Use decimal instead of float, to get consistent rounding
  custom_components/powercalc/helpers.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/fixed.py
  custom_components/powercalc/strategy/linear.py
  custom_components/powercalc/strategy/lut.py
  custom_components/powercalc/strategy/strategy_interface.py
  custom_components/powercalc/strategy/wled.py
Labels: enhancement

#554 Add option to configure power sensor precision
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
Labels: enhancement

#555 Also use energy precision config for daily kWh sensors
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
Labels: bug

#569 Implement support for subdirectories in LUT database
  README.md
  custom_components/powercalc/__init__.py
  custom_components/powercalc/light_model.py
  custom_components/powercalc/model_discovery.py
  custom_components/powercalc/strategy/lut.py
Labels: enhancement

#575 Fix multiple bugs with power_sensor_id since v0.18
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/power.py
Labels: bug

#566 Added LIFX Light LUTs (Original, Candle, Z, Plus)
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_100/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_100/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_100/model.json
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_25/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_25/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_25/model.json
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_50/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_50/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_50/model.json
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_off/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_off/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/infrared_off/model.json
  custom_components/powercalc/data/lifx/LIFX BR30 Night Vision/model.json
  custom_components/powercalc/data/lifx/LIFX Candle/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Candle/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Candle/model.json
  custom_components/powercalc/data/lifx/LIFX Original 1000/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Original 1000/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Original 1000/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_1/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_1/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_1/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_10/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_10/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_10/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_2/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_2/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_2/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_3/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_3/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_3/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_4/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_4/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_4/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_5/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_5/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_5/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_6/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_6/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_6/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_7/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_7/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_7/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_8/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_8/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_8/model.json
  custom_components/powercalc/data/lifx/LIFX Z/length_9/color_temp.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_9/hs.csv.gz
  custom_components/powercalc/data/lifx/LIFX Z/length_9/model.json
  custom_components/powercalc/data/lifx/LIFX Z/model.json
Labels: new model, lut strategy

#578 Restructure factory logic of energy and power sensor for maintainability
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
Labels: enhancement

#584 Increase nesting level, and add documentation
  README.md
  custom_components/powercalc/sensor.py
Labels: bug
