Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-07, with the labels that each got.

#818 Allow to setup multiple power sensors for the same entity
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/errors.py
  custom_components/powercalc/manifest.json
  custom_components/powercalc/sensor.py
Labels: bug

#819 Return standby_power when calculation_enabled resolves to false
  custom_components/powercalc/sensors/power.py
Labels: bug

#846 Implement consistent naming pattern (name and friendly name) for all sensors
  custom_components/powercalc/manifest.json
  custom_components/powercalc/migrate.py
  custom_components/powercalc/sensors/abstract.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/power.py
Labels: bug

#851 Fix unit prefix bugs
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/group.py
Labels: bug

#855 Fix measure-tool error with num lights
  utils/measure/measure.py
Labels: bug

#863 Fix evaluating of template in daily fixed energy sensor
  custom_components/powercalc/sensors/daily_energy.py
Labels: bug

#874 Fix AttributeError in group sensor creation
  custom_components/powercalc/sensors/group.py
Labels: bug

#881 Disable polling which caused power sensors to update state each 30 seconds
  custom_components/powercalc/sensors/power.py
Labels: bug

#894 Add option to predefine resume confirmation in .env
  utils/measure/.env.dist
  utils/measure/measure.py
Labels: measure-tool

#883 Add unit tests
  .github/workflows/test.yml
  .gitignore
  README.md
  custom_components/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/migrate.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/services.yaml
  custom_components/powercalc/strategy/linear.py
  custom_components/powercalc/strategy/lut.py
  custom_components/powercalc/strategy/wled.py
  requirements.test.txt
  tests/__init__.py
  tests/common.py
  tests/conftest.py
  tests/sensors/__init__.py
  tests/sensors/test_daily_energy.py
  tests/sensors/test_utility_meter.py
  tests/setup.sh
  tests/strategy/__init__.py
  tests/strategy/common.py
  tests/strategy/test_fixed.py
  tests/strategy/test_linear.py
  tests/strategy/test_lut.py
  tests/strategy/test_wled.py
  tests/test_config_flow.py
  tests/test_init.py
  tests/test_sensor.py
  tests/testing_config/__init__.py
  tests/testing_config/custom_components/__init__.py
  tests/testing_config/custom_components/test/__init__.py
  tests/testing_config/custom_components/test/light.py
  tests/testing_config/custom_components/test/manifest.json
  tests/testing_config/custom_components/test/sensor.py
  tests/testing_config/custom_components/test/test
Labels: enhancement

#897 Minor code quality fixes
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/errors.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#903 Fix unsupported operand type error in v0.24.0
  custom_components/powercalc/power_profile/light_model.py
Labels: bug

#904 Add Arlec Smart R80 9.5W 806lm CCT Bulb (GLD115HA)
  custom_components/powercalc/data/arlec/GLD115HA/color_temp.csv.gz
  custom_components/powercalc/data/arlec/GLD115HA/model.json
Labels: lightmodel

#909 Better error handling for "list index out of range"
  .github/workflows/validate-model-json.yml
  custom_components/powercalc/data/aqara/ZNLDP12LM/model.json
  custom_components/powercalc/data/model_schema.json
  custom_components/powercalc/sensors/power.py
Labels: bug

#916 Catch decimal exception and log as error
  custom_components/powercalc/sensors/power.py
Labels: bug

#918 Fix correct conversion to template for fixed config entries
  custom_components/powercalc/sensor.py
  tests/strategy/test_fixed.py
Labels: bug

#920 Calculate initial power sensor state after HA startup
  custom_components/powercalc/sensors/power.py
  tests/sensors/test_power.py
Labels: bug

#901 I002926 - Mirabella Genio Wi-Fi Dimmable 5.5W ES RGBW Spiral Filament LED Bulb
  custom_components/powercalc/data/genio/I002926/brightness.csv.gz
  custom_components/powercalc/data/genio/I002926/hs.csv.gz
  custom_components/powercalc/data/genio/I002926/model.json
Labels: lightmodel

#922 Set group to unavailable when all members are unavailable
  custom_components/powercalc/sensors/group.py
  tests/sensors/test_group.py
Labels: bug

#927 Improve error handling in config flow when using LUT strategy
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/errors.py
  custom_components/powercalc/strategy/lut.py
  custom_components/powercalc/strings.json
  custom_components/powercalc/translations/en.json
  tests/strategy/test_lut.py
  tests/test_config_flow.py
Labels: bug

#888 Add Mirabella Genio Wi-Fi 7W LED Tube Lamp I003028
  custom_components/powercalc/data/genio/I003028/brightness.csv.gz
  custom_components/powercalc/data/genio/I003028/hs.csv.gz
  custom_components/powercalc/data/genio/I003028/model.json
Labels: lightmodel
