Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-06, with the labels that each got.

#769 Improve shelly connection error handling
  utils/measure/measure.py
  utils/measure/powermeter/shelly.py
Labels: bug

#775 fix typo in measure script
  utils/measure/measure.py
Labels: measure-tool

#774 Allow to set dummy load value in measure tool
  utils/measure/.env.dist
  utils/measure/measure.py
Labels: measure-tool

#778 Fix error when user is asked to resume measurements, but there is nothing to resume at yet
  utils/measure/measure.py
Labels: bug, measure-tool

#802 Prevent loading LUT files for non light entities during discovery
  custom_components/powercalc/__init__.py
  custom_components/powercalc/light_model.py
Labels: bug

#804 Change stateClass of energy sensor from total_increasing to total
  README.md
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/services.yaml
Labels: bug

#807 Fix grouped power sensor for daily energy
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/daily_energy.py
Labels: bug
