Repository bramstroker/homeassistant-powercalc, pull requests merged in 2022-03, with the labels that each got.

#596 Implement support for multiple tariffs for utility meters
  README.md
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: enhancement

#604 Round utility meters to same precision as energy sensors
  custom_components/powercalc/sensors/utility_meter.py
Labels: enhancement

#611 Implement option to automatically created groups per domain
  README.md
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: enhancement

#619 Fix fatal error in HA 2022.4
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
Labels: bug

#621 Fix grouped domain sensor in energy dashboard
  custom_components/powercalc/__init__.py
Labels: bug

#629 Track templates to listen for state changes
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/fixed.py
  custom_components/powercalc/strategy/strategy_interface.py
  custom_components/powercalc/strategy/wled.py
Labels: enhancement

#636 Extend LUT validator with some additional checks to ensure quality of LUT files.
  .github/scripts/lut_validator/rules/brightness.json
  .github/scripts/lut_validator/rules/color_temp.json
  .github/scripts/lut_validator/rules/hs.json
  .github/scripts/lut_validator/validate.js
  custom_components/powercalc/data/ikea/LED1624G9/color_temp.csv.gz
  custom_components/powercalc/data/ikea/LED1925G6/hs.csv.gz
  custom_components/powercalc/data/osram/LIGHTIFY Indoor Flex RGBW/hs.csv.gz
  custom_components/powercalc/data/signify/LCF002/hs.csv.gz
  custom_components/powercalc/data/signify/LCT001/color_temp.csv.gz
  custom_components/powercalc/data/signify/LCT024/color_temp.csv.gz
  custom_components/powercalc/data/signify/LTC001/color_temp.csv.gz
  custom_components/powercalc/data/signify/LTG002/color_temp.csv.gz
  custom_components/powercalc/data/signify/LTW017/color_temp.csv.gz
  custom_components/powercalc/data/signify/LWA004/brightness.csv.gz
  custom_components/powercalc/data/signify/LWO001/brightness.csv.gz
  custom_components/powercalc/data/sonoff/B02BA60/color_temp.csv.gz
Labels: bug, enhancement

#641 Fix cases when device_entry.model is not a string
  custom_components/powercalc/model_discovery.py
Labels: bug

#643 Add Philips Hue white and color ambiance LightStrip plus LCL001
  custom_components/powercalc/const.py
  custom_components/powercalc/data/signify/LCL001/color_temp.csv.gz
  custom_components/powercalc/data/signify/LCL001/hs.csv.gz
  custom_components/powercalc/data/signify/LCL001/model.json
Labels: enhancement
