Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-08, with the labels that each got.

#2428 cleanup entity creation code
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/sensor.py
Labels: enhancement

#2431 Fix documentation warnings
  docs/source/configuration/global-configuration.rst
  docs/source/configuration/sensor-configuration.rst
  docs/source/contributing/measure.rst
  docs/source/index.rst
  docs/source/library/library.rst
  docs/source/links.rst
  docs/source/sensor-types/group.rst
  docs/source/sensor-types/utility-meter.rst
  docs/source/strategies/lut.rst
  docs/source/troubleshooting/faq.rst
Labels: bug

#2438 fix: change from lauwbier.nl to powercalc.nl
  .github/workflows/generate-model-list.yml
  INFO.md
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/loader/remote.py
  docs/mkdocs.yml
  docs/source/quick-start.md
  tests/power_profile/loader/test_remote.py
Labels: bug

#2439 Implement subtract group
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/diagnostics.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group/__init__.py
  custom_components/powercalc/sensors/group/config_entry_utils.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/group/domain.py
  custom_components/powercalc/sensors/group/factory.py
  custom_components/powercalc/sensors/group/standby.py
  custom_components/powercalc/sensors/group/subtract.py
  custom_components/powercalc/translations/en.json
  docs/mkdocs.yml
  docs/source/configuration/global-configuration.md
  docs/source/configuration/sensor-configuration.md
  docs/source/sensor-types/group/custom.md
  docs/source/sensor-types/group/domain.md
  docs/source/sensor-types/group/index.md
  docs/source/sensor-types/group/subtract.md
  docs/source/sensor-types/index.md
  tests/config_flow/test_group.py
  tests/config_flow/test_group_subtract.py
  tests/sensors/group/__init__.py
  tests/sensors/group/test_custom.py
  tests/sensors/group/test_domain.py
  tests/sensors/group/test_standby.py
  tests/sensors/group/test_subtract.py
Labels: enhancement

#2444 Add Lidl HG08007
  profile_library/lidl/HG08007/hs.csv
  profile_library/lidl/HG08007/hs.csv.gz
  profile_library/lidl/HG08007/model.json
Labels: lightmodel

#2446 fix: energy sensors were broken for some groups since v1.14
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/group/subtract.py
Labels: bug

#2392 Add support for device model_id added in HA 2024.8
  custom_components/powercalc/discovery.py
  custom_components/powercalc/power_profile/factory.py
  custom_components/powercalc/power_profile/library.py
  tests/conftest.py
  tests/power_profile/test_library.py
  tests/test_discovery.py
Labels: enhancement

#2456 Correct min required HA version
  custom_components/powercalc/const.py
  hacs.json
Labels: bug

#2457 Code cleanups
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/group/subtract.py
  custom_components/powercalc/strategy/factory.py
  tests/sensors/group/test_custom.py
  tests/sensors/group/test_subtract.py
  tests/sensors/test_power.py
Labels: bug

#2467 fix: hass not set while rendering Template
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
Labels: bug
