Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-11, with the labels that each got.

#2641 Fix model description of livarno HG06106A
  profile_library/lidl/HG06106A/model.json
Labels: bug, powerprofile

#2648 fix: broken tariff select in HA 2024.11
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#2646 New device: Manufacturer eq-3 - Model HM-ES-PMSw1-DR
  profile_library/eq-3/HM-ES-PMSw1-DR/model.json
Labels: powerprofile

#2643 Fixes for charging device branch
  utils/measure/controller/charging/hass.py
  utils/measure/runner/charging.py
Labels: bug, enhancement

#2654 Upgrade HA and fix mypy issues
  .github/workflows/test.yml
  .pre-commit-config.yaml
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/group/standby.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/sensors/utility_meter.py
  custom_components/powercalc/strategy/composite.py
  custom_components/powercalc/strategy/factory.py
  custom_components/powercalc/strategy/linear.py
  custom_components/powercalc/strategy/lut.py
  custom_components/powercalc/strategy/playbook.py
  poetry.lock
  pyproject.toml
  tests/testing_config/blueprints/template/homeassistant/.gitkeep
Labels: bug

#2659 add profile for Livarno Lux (Lidl) HG08131A
  profile_library/lidl/HG08131A/color_temp.csv.gz
  profile_library/lidl/HG08131A/hs.csv.gz
  profile_library/lidl/HG08131A/model.json
  profile_library/lidl/manufacturer.json
Labels: lightmodel, powerprofile

#2662 add description for Livarno Lux (Lidl) HG08008
  profile_library/lidl/HG08008/model.json
Labels: powerprofile

#2661 add description for Livarno Lux (Lidl) HG08010
  profile_library/lidl/HG08010/model.json
Labels: powerprofile

#2670 Create utility meters for subtract group sensors
  custom_components/powercalc/sensors/group/subtract.py
  tests/sensors/group/test_subtract.py
Labels: bug

#2667 add profile for Livarno Lux (Lidl) HG08131B
  profile_library/lidl/HG08131B/color_temp.csv.gz
  profile_library/lidl/HG08131B/hs.csv.gz
  profile_library/lidl/HG08131B/model.json
  profile_library/lidl/manufacturer.json
Labels: lightmodel, powerprofile

#2674 Add support for vacuum devices
  custom_components/powercalc/power_profile/power_profile.py
  profile_library/model_schema.json
Labels: bug, powerprofile

#2672 add profile for Livarno Home (Lidl) HG08131C
  profile_library/lidl/HG08131C/color_temp.csv.gz
  profile_library/lidl/HG08131C/hs.csv.gz
  profile_library/lidl/HG08131C/model.json
  profile_library/lidl/manufacturer.json
Labels: lightmodel, powerprofile

#2678 Add Hue Welcome outdoor wall profile
  profile_library/signify/1743630P7/brightness.csv.gz
  profile_library/signify/1743630P7/model.json
Labels: lightmodel, powerprofile

#2680 Added profile for Paulmann CCT Light
  profile_library/paulmann licht/50396/color_temp.csv.gz
  profile_library/paulmann licht/50396/model.json
Labels: lightmodel, powerprofile, generic-model-id

#2603 feat: add support for charging devices to measure tool
  tests/power_profile/device_types/test_vacuum_robot.py
  tests/testing_config/powercalc_profiles/vacuum_robot/model.json
  utils/measure/.env.dist
  utils/measure/config.py
  utils/measure/const.py
  utils/measure/controller/__init__.py
  utils/measure/controller/charging/__init__.py
  utils/measure/controller/charging/const.py
  utils/measure/controller/charging/controller.py
  utils/measure/controller/charging/dummy.py
  utils/measure/controller/charging/errors.py
  utils/measure/controller/charging/factory.py
  utils/measure/controller/charging/hass.py
  utils/measure/controller/errors.py
  utils/measure/controller/light/__init__.py
  utils/measure/controller/light/const.py
  utils/measure/controller/light/controller.py
  utils/measure/controller/light/dummy.py
  utils/measure/controller/light/errors.py
  utils/measure/controller/light/factory.py
  utils/measure/controller/light/hass.py
  utils/measure/controller/light/hue.py
  utils/measure/controller/media/__init__.py
  utils/measure/controller/media/const.py
  utils/measure/controller/media/controller.py
  utils/measure/controller/media/dummy.py
  utils/measure/controller/media/errors.py
  utils/measure/controller/media/factory.py
  utils/measure/controller/media/hass.py
  utils/measure/light_controller/errors.py
  utils/measure/measure.py
  utils/measure/media_controller/errors.py
  utils/measure/powermeter/const.py
  utils/measure/powermeter/hass.py
  utils/measure/runner/average.py
  utils/measure/runner/charging.py
  utils/measure/runner/const.py
  utils/measure/runner/light.py
  utils/measure/runner/recorder.py
  utils/measure/runner/speaker.py
  utils/measure/util/measure_util.py
Labels: enhancement, powerprofile

#2687 Fix broken "supported models" links in doc
  docs/source/configuration/global-configuration.md
  docs/source/sensor-types/group/include-entities.md
  docs/source/sensor-types/index.md
  docs/source/sensor-types/virtual-power-library.md
  docs/source/strategies/lut.md
  docs/source/troubleshooting/faq.md
Labels: bug, documentation

#2693 New model: eq-3, HmIP-BDT
  profile_library/eq-3/HmIP-BDT/model.json
Labels: powerprofile

#2694 New model: eq-3, HmIP-BSM
  profile_library/eq-3/HmIP-BSM/model.json
Labels: powerprofile

#2695 New model: eq3, HmIP-DRSI1
  profile_library/eq-3/HmIP-DRSI1/model.json
Labels: powerprofile

#2698 New model: eq-3, HmIP-FROLL
  profile_library/eq-3/HmIP-FROLL/model.json
Labels: powerprofile

#2701 New model: eq-3, HmIP-PSM
  profile_library/eq-3/HmIP-PSM/model.json
Labels: powerprofile

#2704 [docs] Measure: don't recommend older Shelly products or Tapo P110 anymore
  docs/source/contributing/measure.md
Labels: documentation

#2691 IKEA LED1739R5
  profile_library/ikea/LED1739R5/color_temp.csv.gz
  profile_library/ikea/LED1739R5/model.json
Labels: lightmodel, powerprofile

#2707 fix: error with utility meter in HA 2024.12
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#2708 Auto generate unique_id in config flow
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensors/group/factory.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/common.py
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_discovery.py
  tests/config_flow/test_group.py
  tests/config_flow/test_group_subtract.py
  tests/config_flow/test_real_power.py
  tests/config_flow/test_utility_meter.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/config_flow/test_virtual_power_library.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/power_profile/device_types/test_smart_switch.py
Labels: enhancement

#2655 Add Ikea Ormanas Led Strip
  profile_library/ikea/ORMANAS LED Strip/color_temp.csv.gz
  profile_library/ikea/ORMANAS LED Strip/hs.csv.gz
  profile_library/ikea/ORMANAS LED Strip/model.json
Labels: lightmodel, powerprofile

#2712 Add LTG005
  profile_library/signify/LTG005/color_temp.csv.gz
  profile_library/signify/LTG005/model.json
Labels: lightmodel, powerprofile

#2716 New model: IKEA JETSTRÖM L2206
  profile_library/ikea/L2206/color_temp.csv.gz
  profile_library/ikea/L2206/hs.csv.gz
  profile_library/ikea/L2206/model.json
  profile_library/library.json
Labels: lightmodel, powerprofile

#2726 fix manufacturer WLED not found
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/power_profile/factory.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/config_flow/test_virtual_power_wled.py
  tests/strategy/test_wled.py
Labels: bug

#2727 Upgrade to Python 3.13
  .github/workflows/generate-plots.yml
  .github/workflows/poetry-composite-action/action.yaml
  .github/workflows/update-profile-library.yml
  .readthedocs.yaml
  docs/source/contributing/integration-development.md
  poetry.lock
  pyproject.toml
  utils/measure/Dockerfile
  utils/measure/poetry.lock
  utils/measure/pyproject.toml
  utils/visualize/poetry.lock
  utils/visualize/pyproject.toml
Labels: documentation, enhancement

#2724 Add Twinkly 600
  profile_library/ledworks/TWS600STP/model.json
  profile_library/library.json
Labels: lightmodel, powerprofile

#2729 Improve test duration
  tests/conftest.py
  tests/test_common.py
Labels: enhancement

#2733 fix error when trying to use dummy load
  utils/measure/measure/measure.py
Labels: bug, measure-tool
