Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-07, with the labels that each got.

#2360 Better connection error handling for remote loader
  custom_components/powercalc/power_profile/loader/remote.py
  tests/power_profile/loader/test_remote.py
Labels: bug

#2361 Refactor the config flow code to be less cluttered
  custom_components/powercalc/config_flow.py
Labels: enhancement

#2365 Set max_sub_interval for integral sensors to force periodical update
  custom_components/powercalc/sensors/energy.py
  tests/sensors/test_group.py
Labels: enhancement

#2375 fix same group entry was created again and again after each restart
  custom_components/powercalc/sensors/group.py
  tests/config_flow/test_group.py
Labels: bug

#2376 fix: respect unit prefix setting when using force_calculate_group_energy option
  custom_components/powercalc/sensors/group.py
  tests/sensors/test_group.py
Labels: bug

#2379 fix: exclude plots from being downloaded by users
  utils/library_downloader/README.md
  utils/library_downloader/src/index.ts
Labels: bug

#2381 fix: better error handling for 'object is not subscriptable' error in LUT calculation
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
Labels: bug

#2382 Add manufacturer and model aliases for Nous A1Z for discovery
  profile_library/nous/A1Z/model.json
  profile_library/nous/manufacturer.json
Labels: enhancement

#2391 Correct local fallback when no internet available
  custom_components/powercalc/power_profile/loader/remote.py
  tests/power_profile/loader/test_remote.py
Labels: bug

#2402 LCD003 hue-white-and-color-ambiance-akari-downlight
  profile_library/signify/LCD003/color_temp.csv.gz
  profile_library/signify/LCD003/hs.csv.gz
  profile_library/signify/LCD003/model.json
Labels: lightmodel

#2413 Complete option flow overhaul, separate steps.
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
  move-translations.py
  tests/config_flow/common.py
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_discovery.py
  tests/config_flow/test_group.py
  tests/config_flow/test_real_power.py
  tests/config_flow/test_smart_switch.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/config_flow/test_virtual_power_library.py
  tests/config_flow/test_virtual_power_linear.py
  tests/config_flow/test_virtual_power_lut.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/config_flow/test_virtual_power_playbook.py
  tests/config_flow/test_virtual_power_wled.py
  tests/power_profile/device_types/test_smart_switch.py
  tests/test_sensor.py
Labels: enhancement

#2416 Add GUI flow for domain groups. Start cleanup up code
  custom_components/powercalc/__init__.py
  custom_components/powercalc/common.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/translations/en.json
  docs/source/sensor-types/group.rst
  tests/config_flow/common.py
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_group.py
  tests/config_flow/test_menu.py
  tests/config_flow/test_real_power.py
  tests/config_flow/test_smart_switch.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/config_flow/test_virtual_power_library.py
  tests/sensors/test_group_domain.py
  tests/test_init.py
Labels: enhancement
