Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-10, with the labels that each got.

#2541 Ikea-L1616: fix author and created_at
  profile_library/ikea/L1616/model.json
Labels: powerprofile

#2546 fix author
  profile_library/lidl/HG08010/model.json
Labels: powerprofile

#2550 Rename playbook property from states_trigger to state_trigger
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/strategy/playbook.py
  tests/config_flow/test_group.py
  tests/test_init.py
Labels: bug

#2551 Allow to use playbook strategy in composite
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/composite.py
  custom_components/powercalc/strategy/multi_switch.py
  custom_components/powercalc/strategy/playbook.py
  tests/strategy/test_composite.py
  tests/test_discovery.py
  tests/testing_config/powercalc/playbooks/composite/dishwasher.csv
Labels: enhancement

#2554 chore: remove supported models markdown file as we have library.powercalc.nl now
  .github/scripts/profile_library/requirements.txt
  .github/scripts/profile_library/update-authors.py
  .github/scripts/profile_library/update-library-json.py
  .github/workflows/update-profile-library.yml
  docs/source/contributing/measure.md
  docs/supported_models.md
Labels: documentation, enhancement

#2555 Add possibility to change manufacturer/model from options
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/en.json
  docs/source/configuration/sensor-configuration.md
  docs/source/sensor-types/virtual-power-library.md
  tests/config_flow/test_virtual_power_library.py
Labels: documentation, enhancement

#2565 Add TP-Link L920-5
  profile_library/tp-link/L920/hs.csv.gz
  profile_library/tp-link/L920/model.json
Labels: lightmodel, powerprofile

#2563 Add Yeelight MJDP09YL
  profile_library/yeelight/MJDP09YL/color_temp.csv.gz
  profile_library/yeelight/MJDP09YL/model.json
Labels: lightmodel, powerprofile

#2567 Add Yeelight YLDP25YL/YLDP26YL
  profile_library/yeelight/YLDP25YL/color_temp.csv.gz
  profile_library/yeelight/YLDP25YL/model.json
Labels: lightmodel, powerprofile

#2558 Implement Global configuration GUI flow
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/utility_meter.py
  custom_components/powercalc/translations/en.json
  docs/source/configuration/global-configuration.md
  docs/source/configuration/sensor-configuration.md
  docs/source/img/global_config_configure.png
  tests/config_flow/common.py
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_global_configuration.py
  tests/config_flow/test_group.py
  tests/config_flow/test_real_power.py
  tests/config_flow/test_utility_meter.py
  tests/power_profile/loader/test_remote.py
  tests/sensors/test_utility_meter.py
  tests/test_init.py
Labels: documentation, enhancement

#2569 Bump MyPy
  poetry.lock
  pyproject.toml
  renovate.json
Labels: enhancement

#2572 Add integration development docs
  docs/mkdocs.yml
  docs/source/contributing/integration-development.md
Labels: documentation, enhancement

#2568 add luts for FL 122 C (innr rgb lightstrip)
  profile_library/innr/FL 122 C/color_temp.csv.gz
  profile_library/innr/FL 122 C/hs.csv.gz
  profile_library/innr/FL 122 C/model.json
Labels: lightmodel, powerprofile

#2573 Make model directory matching for custom models case insensitive
  custom_components/powercalc/power_profile/loader/local.py
  tests/common.py
  tests/power_profile/loader/test_local.py
  tests/testing_config/powercalc/profiles/casing/CaSinG- Test/model.json
Labels: bug

#2580 Fix bugs in daily energy options flow
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_daily_energy.py
  tests/power_profile/loader/test_local.py
Labels: bug

#2582 Fix issue where wrong sensors were created, energy sensor instead of power.
  custom_components/powercalc/__init__.py
Labels: bug

#2583 fix issue with playbook returning old values when stopped
  custom_components/powercalc/strategy/playbook.py
  tests/strategy/test_playbook.py
  tests/test_sensor.py
Labels: bug

#2587 Adding Hue Infuse Medium Ceiling Lamp (915005997301)
  profile_library/signify/915005997301/color_temp.csv.gz
  profile_library/signify/915005997301/hs.csv.gz
  profile_library/signify/915005997301/model.json
Labels: lightmodel, powerprofile

#2585 add LIVARNO home Tischleuchte (Lidl 14158804L)
  profile_library/lidl/14158804L/color_temp.csv.gz
  profile_library/lidl/14158804L/hs.csv.gz
  profile_library/lidl/14158804L/model.json
  profile_library/lidl/manufacturer.json
Labels: lightmodel, powerprofile

#2590 Add Hue Xamento medium ceiling
  profile_library/signify/915005997801/color_temp.csv.gz
  profile_library/signify/915005997801/hs.csv.gz
  profile_library/signify/915005997801/model.json
Labels: lightmodel, powerprofile

#2560 Add LIFX A21
  profile_library/lifx/LFXA211600RGBW/hs.csv.gz
  profile_library/lifx/LFXA211600RGBW/model.json
Labels: lightmodel, powerprofile

#2595 fix typeError when creating standby sensors in 1.15 beta
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group/standby.py
  custom_components/powercalc/sensors/group/subtract.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#2596 allow to measure color_temp + hs in one session
  utils/measure/runner/light.py
Labels: enhancement

#2597 Indent model.json with 2 spaces in measure tool, to be consistent with pre-commit formatter
  utils/measure/measure.py
Labels: bug

#2594 Add Hue Centura Spot
  profile_library/signify/929003045201/color_temp.csv.gz
  profile_library/signify/929003045201/hs.csv.gz
  profile_library/signify/929003045201/model.json
Labels: lightmodel, powerprofile

#2600 Add Hue Iris (929002376201)
  profile_library/signify/929002376201/color_temp.csv.gz
  profile_library/signify/929002376201/hs.csv.gz
  profile_library/signify/929002376201/model.json
Labels: lightmodel, powerprofile

#2601 Make unit prefix for energy sensor configurable with GUI
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/translations/en.json
  docs/source/configuration/sensor-configuration.md
Labels: bug, documentation, enhancement

#2607 add ledvance 4058075208339 (SMART+ ZB FLEX 3P RGB + TW)
  profile_library/ledvance/4058075208339/color_temp.csv.gz
  profile_library/ledvance/4058075208339/hs.csv.gz
  profile_library/ledvance/4058075208339/model.json
Labels: lightmodel, powerprofile

#2617 add Aldi Casalux LED light column (103cm)
  profile_library/casalux/led_column_rgbct_103cm_600lm/color_temp.csv.gz
  profile_library/casalux/led_column_rgbct_103cm_600lm/hs.csv.gz
  profile_library/casalux/led_column_rgbct_103cm_600lm/model.json
  profile_library/casalux/manufacturer.json
Labels: lightmodel, powerprofile

#2618 Added ikuu 92mm Walter 9W Smart LED Downlight
  profile_library/mercator ikuu/SMD4109W-RGB-ZB/color_temp.csv.gz
  profile_library/mercator ikuu/SMD4109W-RGB-ZB/hs.csv.gz
  profile_library/mercator ikuu/SMD4109W-RGB-ZB/model.json
  profile_library/mercator ikuu/manufacturer.json
Labels: lightmodel, powerprofile

#2620 Add Signify LWS003
  profile_library/signify/LWS003/brightness.csv.gz
  profile_library/signify/LWS003/model.json
Labels: lightmodel, powerprofile

#2623 Fix multi switch setup using GUI
  custom_components/powercalc/const.py
  custom_components/powercalc/sensors/power.py
  tests/config_flow/test_virtual_power_multi_switch.py
Labels: bug

#2624 Correctly calculate time when measuring hs + colortemp
  utils/measure/runner/light.py
Labels: bug

#2628 Add: Hue solo lightstrip (5 mtr.)
  profile_library/signify/929003817002/color_temp.csv.gz
  profile_library/signify/929003817002/hs.csv.gz
  profile_library/signify/929003817002/model.json
Labels: lightmodel, powerprofile
