Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-06, with the labels that each got.

#2271 fix daily energy config and entities disappearing after restart
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_daily_energy.py
Labels: bug

#2272 add alias to hue signe, OAK version
  profile_library/signify/4080248U9/model.json
Labels: enhancement

#2282 Add signify LTO002 profile
  profile_library/signify/LTO002/color_temp.csv.gz
  profile_library/signify/LTO002/model.json
Labels: lightmodel

#2283 fix issue where none entities were created
  custom_components/powercalc/__init__.py
  custom_components/powercalc/sensors/group.py
  tests/config_flow/test_group.py
  tests/sensors/test_group.py
  tests/test_init.py
Labels: bug

#2287 fix: error when starting up HA
  custom_components/powercalc/__init__.py
Labels: bug

#2294 fix all erronous none entries are removed because of previous bug in Powercalc
  custom_components/powercalc/__init__.py
Labels: bug

#2295 fix all erronous none entries are removed because of previous bug in Powercalc
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensors/energy.py
  poetry.lock
  tests/test_init.py
Labels: bug

#2297 added Signify LCU001
  profile_library/signify/LCU001/color_temp.csv.gz
  profile_library/signify/LCU001/hs.csv.gz
  profile_library/signify/LCU001/model.json
Labels: lightmodel

#2292 Add WiZ A80.E27
  profile_library/wiz/929003500001/hs.csv.gz
  profile_library/wiz/929003500001/model.json
Labels: lightmodel

#2304 Add Signify LWA029
  profile_library/signify/LWA029/brightness.csv.gz
  profile_library/signify/LWA029/model.json
Labels: lightmodel

#2307 Add Signify LCL002
  profile_library/signify/LCL002/color_temp.csv.gz
  profile_library/signify/LCL002/hs.csv.gz
  profile_library/signify/LCL002/model.json
Labels: lightmodel

#2313 Better connection error handling for remote loader
  custom_components/powercalc/power_profile/loader/remote.py
  tests/power_profile/loader/test_remote.py
Labels: bug

#2312 Fix Lut validation action
  .github/workflows/validate-lut-files.yml
Labels: github-action

#2314 Exclude powercalc attributes which does not change from recorder
  .pre-commit-config.yaml
  custom_components/powercalc/__init__.py
  custom_components/powercalc/power_profile/loader/remote.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/sensors/power.py
  profile_library/library.json
Labels: enhancement

#2291 Add Elgin Smart Color 15W - 48BLED15WIFI
  profile_library/elgin/48BLED15WIFI/color_temp.csv.gz
  profile_library/elgin/48BLED15WIFI/hs.csv.gz
  profile_library/elgin/48BLED15WIFI/model.json
Labels: lightmodel

#2290 Add Elgin Smart Color 10W - 48BLEDWIFI00
  profile_library/elgin/48BLEDWIFI00/color_temp.csv.gz
  profile_library/elgin/48BLEDWIFI00/hs.csv.gz
  profile_library/elgin/48BLEDWIFI00/model.json
Labels: lightmodel

#2320 fix issue where powercalc load took a long time and preventing startup
  custom_components/powercalc/power_profile/loader/remote.py
  profile_library/library.json
Labels: bug

#2325 Add missing alias for Hue Bloom
  profile_library/signify/LLC011/model.json
Labels: bug

#2330 Add Signify LWA007
  profile_library/signify/LWA007/brightness.csv.gz
  profile_library/signify/LWA007/model.json
Labels: lightmodel

#2331 Improve performance of group state recalculations
  custom_components/powercalc/sensors/group.py
Labels: bug

#2334 Don't raise error when color mode is missing, but log a warning
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
Labels: bug

#2335 Fix blocking call error when retrieving sub profiles
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensors/power.py
  tests/power_profile/test_library.py
Labels: bug

#2336 Implement retry when model.json is invalid
  custom_components/powercalc/power_profile/loader/remote.py
  tests/power_profile/loader/test_remote.py
Labels: bug

#2338 fix key error in calculation
  custom_components/powercalc/sensors/group.py
Labels: bug

#2339 fix exception when color mode is none
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
Labels: bug

#2340 Catch potential decimal conversion errors in group calculation
  custom_components/powercalc/sensors/group.py
  tests/sensors/test_group.py
Labels: bug

#2341 Fix ruff precommit
  .pre-commit-config.yaml
  pyproject.toml
Labels: bug

#2342 Add mypy to precommit
  .pre-commit-config.yaml
  script/run-mypy.sh
Labels: enhancement

#2344 Catch case where a tuple is provided as power value
  custom_components/powercalc/helpers.py
  tests/test_helpers.py
Labels: bug
