Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-02, with the labels that each got.

#2025 Fix utility meter error in 2024.2 beta
  custom_components/powercalc/sensors/utility_meter.py
  poetry.lock
  pyproject.toml
Labels: bug

#2051 Add Hue Surimu profile
  custom_components/powercalc/data/signify/929003598001/color_temp.csv.gz
  custom_components/powercalc/data/signify/929003598001/hs.csv.gz
  custom_components/powercalc/data/signify/929003598001/model.json
Labels: lightmodel

#2058 Rework device binding code to be more consise
  custom_components/powercalc/device_binding.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
Labels: bug

#2067 Add action to generate plots for csv on PR
  .github/workflows/code-quality.yml
  .github/workflows/lint.yml
  .github/workflows/poetry-composite-action/action.yaml
  .github/workflows/test.yml
  .github/workflows/validate-lut-files.yml
  custom_components/powercalc/data/test/test/brightness.csv.gz
  custom_components/powercalc/data/test/test/color_temp.csv.gz
  custom_components/powercalc/data/test/test/hs.csv.gz
  utils/visualize/plot.py
Labels: light-model

#2068 add eWeLight ZB-CL01
  custom_components/powercalc/data/ewelight/2APYC-JL01/color_temp.csv.gz
  custom_components/powercalc/data/ewelight/2APYC-JL01/hs.csv.gz
  custom_components/powercalc/data/ewelight/2APYC-JL01/model.json
Labels: lightmodel

#2086 add cz translations
  crowdin.yml
Labels: enhancement, translations

#2088 Add toggle to control if non powercalc sensors should be added to group
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  custom_components/powercalc/translations/en.json
  docs/source/configuration/global-configuration.rst
  docs/source/sensor-types/group/include-entities.rst
  tests/config_flow/test_group.py
  tests/group_include/test_include.py
Labels: enhancement, group

#2095 Fix No module named 'Crypto' in measure tool
  utils/measure/poetry.lock
  utils/measure/pyproject.toml
Labels: bug, measure-tool
