Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-09, with the labels that each got.

#2472 Power profile for Kauf A21 RGBWW BLF10 bulb
  profile_library/kauf/BLF10/brightness.csv.gz
  profile_library/kauf/BLF10/color_temp.csv.gz
  profile_library/kauf/BLF10/hs.csv.gz
  profile_library/kauf/BLF10/model.json
  profile_library/kauf/manufacturer.json
Labels: lightmodel

#2465 Power profile for Ikea JETSTROM ceiling light panel, white spectrum 60x60 cm (L2207)
  profile_library/ikea/L2207/color_temp.csv.gz
  profile_library/ikea/L2207/model.json
Labels: lightmodel

#2484 Add force_calculate_group_energy flag to GUI flow
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_group.py
  tests/sensors/group/test_custom.py
Labels: enhancement

#2485 Add remark about brightness limiter to WLED discovery GUI
  custom_components/powercalc/strategy/wled.py
  custom_components/powercalc/translations/en.json
Labels: enhancement

#2487 Correctly unset energy_entity attribute on config entry for consistent behaviour
  custom_components/powercalc/__init__.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group/config_entry_utils.py
  tests/sensors/group/test_custom.py
Labels: bug

#2489 Improve cyclomatic complexity
  custom_components/powercalc/discovery.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/remote.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
  pyproject.toml
  tests/power_profile/test_library.py
  utils/measure/runner/light.py
Labels: bug

#2491 Add missing manufacturer.jon for robb
  profile_library/robb/ROB_200-017-0/model.json
  profile_library/robb/manufacturer.json
Labels: bug

#2490 Add cover device type
  .github/scripts/supported_models/generate_file.py
  custom_components/powercalc/power_profile/power_profile.py
Labels: enhancement

#2492 Add net_consumption option to utility meter
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/utility_meter.py
  custom_components/powercalc/translations/en.json
  docs/source/configuration/sensor-configuration.md
  tests/config_flow/test_group.py
  tests/config_flow/test_utility_meter.py
  tests/sensors/test_utility_meter.py
Labels: enhancement

#2494 Rephrase service to action in documentation
  docs/source/configuration/global-configuration.md
  docs/source/sensor-types/daily-energy.md
  docs/source/sensor-types/energy-sensor.md
  docs/source/sensor-types/virtual-power-library.md
  docs/source/strategies/playbook.md
Labels: enhancement

#2498 Add cover device_type to JSON schema
  profile_library/model_schema.json
Labels: bug

#2500 Add support for printers in the library
  custom_components/powercalc/power_profile/power_profile.py
  profile_library/model_schema.json
Labels: enhancement

#2503 Consider open and closed states for covers as OFF
  custom_components/powercalc/const.py
Labels: bug

#2504 Improve cyclomatic complexity of utility_meter creation
  custom_components/powercalc/sensors/utility_meter.py
Labels: bug

#2508 Add description to model schema
  profile_library/model_schema.json
Labels: enhancement

#2510 Add new PR labeler action
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
Labels: enhancement

#2514 Enable new ruff rules
  custom_components/powercalc/__init__.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/strategy/fixed.py
  pyproject.toml
  tests/test_init.py
  utils/measure/ocr/ocr.py
  utils/measure/runner/speaker.py
Labels: enhancement, release

#2516 Added IKEA INSPELNING Smart plug
  profile_library/ikea/INSPELNING Smart plug/model.json
Labels: powerprofile

#2518 add paulmann/29150
  profile_library/paulmann licht/29150/color_temp.csv.gz
  profile_library/paulmann licht/29150/hs.csv.gz
  profile_library/paulmann licht/29150/model.json
Labels: lightmodel, powerprofile

#2522 Add support for EPSON ET-3760 Series
  profile_library/epson/ET-3760 Series/model.json
Labels: powerprofile

#2528 add paulmann/29147
  profile_library/paulmann licht/29147/color_temp.csv.gz
  profile_library/paulmann licht/29147/hs.csv.gz
  profile_library/paulmann licht/29147/model.json
Labels: lightmodel, powerprofile

#2533 ConfigEntry needs discovery_keys in HA 2024.10 beta
  custom_components/powercalc/sensors/group/config_entry_utils.py
  poetry.lock
  pyproject.toml
  utils/library_downloader/package-lock.json
Labels: bug

#2537 Add govee/H601C LED Downlight
  profile_library/.gitignore
  profile_library/govee/H601C/color_temp.csv.gz
  profile_library/govee/H601C/hs.csv.gz
  profile_library/govee/H601C/model.json
Labels: lightmodel, powerprofile

#2539 rename to Marketed name
  profile_library/signify/1745630P7/model.json
Labels: powerprofile
