Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-12, with the labels that each got.

#2738 Add tests for shelly pm, and restructure endpoint availability check
  utils/measure/measure/powermeter/shelly.py
  utils/measure/poetry.lock
  utils/measure/pyproject.toml
  utils/measure/tests/conftest.py
  utils/measure/tests/powermeter/__init__.py
  utils/measure/tests/powermeter/test_shelly.py
Labels: enhancement

#2739 fix issue where same entity was discovered twice after already configured
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/discovery.py
  tests/test_discovery.py
Labels: bug

#2741 fix fatal error when using predefined answers
  utils/measure/measure/measure.py
Labels: bug, measure-tool

#2742 fix regression in v1.16 where WLED sensors were rediscovered
  custom_components/powercalc/discovery.py
  tests/test_discovery.py
Labels: bug, autodiscovery

#2740 remeasure Lidl HG08131C
  profile_library/lidl/HG08131C/color_temp.csv.gz
  profile_library/lidl/HG08131C/hs.csv.gz
  profile_library/lidl/HG08131C/model.json
Labels: powerprofile

#2743 measure Shelly PM Mini Gen3
  profile_library/shelly/shelly pm mini gen3/model.json
Labels: powerprofile

#2744 remeasure Shelly Plug S
  profile_library/shelly/shelly plug s/model.json
Labels: powerprofile

#2747 Add extra debug logs for discovery flow initiation
  custom_components/powercalc/discovery.py
Labels: bug

#2746 remeasure Shelly Plus Plug S
  profile_library/shelly/shelly plus plug s/model.json
Labels: powerprofile

#2761 Measure utils improve dummyload measuring text
  utils/measure/measure/util/measure_util.py
Labels: measure-tool

#2762 Add Epson L6270 profile
  profile_library/epson/L6270 Series/model.json
Labels: powerprofile

#2760 Meassure Philips Hue Signify LCD008 Slim Recessed Downlight 90mm
  profile_library/signify/LCD008/color_temp.csv.gz
  profile_library/signify/LCD008/hs.csv.gz
  profile_library/signify/LCD008/model.json
Labels: lightmodel, powerprofile

#2748 measure Tuya TS0121_plug
  profile_library/tuya/TS0121_plug/model.json
Labels: powerprofile

#2749 measure eWeLink SA-003-Zigbee
  profile_library/ewelink/SA-003-Zigbee/model.json
  profile_library/ewelink/manufacturer.json
Labels: powerprofile

#2765 Implement smart dimmer support
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/loader/composite.py
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/protocol.py
  custom_components/powercalc/power_profile/loader/remote.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/factory.py
  custom_components/powercalc/strategy/linear.py
  docs/source/library/device-types/index.md
  docs/source/library/device-types/smart-dimmer.md
  docs/source/library/library.md
  tests/config_flow/test_smart_switch.py
  tests/conftest.py
  tests/power_profile/device_types/test_smart_dimmer.py
  tests/power_profile/loader/test_local.py
  tests/power_profile/loader/test_remote.py
  tests/test_discovery.py
  tests/test_helpers.py
  tests/testing_config/powercalc/profiles/test/smart-dimmer/model.json
  tests/testing_config/powercalc_profiles/smart_dimmer/model.json
Labels: documentation, enhancement

#2766 remeasure livarno home HG06104A
  profile_library/lidl/HG06104A/color_temp.csv.gz
  profile_library/lidl/HG06104A/color_temp.png
  profile_library/lidl/HG06104A/hs.csv.gz
  profile_library/lidl/HG06104A/hs.png
  profile_library/lidl/HG06104A/model.json
  profile_library/lidl/manufacturer.json
Labels: lightmodel, powerprofile

#2767 [utils/measure] update variable names in .env.dist file
  utils/measure/.env.dist
Labels: bug, measure-tool

#2769 add Livarno Home HG08130B
  profile_library/lidl/HG08130B/color_temp.csv.gz
  profile_library/lidl/HG08130B/model.json
  profile_library/lidl/manufacturer.json
Labels: lightmodel, powerprofile

#2770 Use device_id for wled discovery to only allow one discovery per wled device
  custom_components/powercalc/discovery.py
  custom_components/powercalc/helpers.py
  tests/test_helpers.py
Labels: bug

#2771 Add HUE LTV002
  profile_library/signify/LTV002/model.json
Labels: enhancement, powerprofile

#2772 Power sensor does not need to be forced updated anymore
  custom_components/powercalc/sensors/power.py
Labels: bug

#2773 Add linked profile for Ikea LED1936G5
  profile_library/ikea/LED1936G5/model.json
Labels: enhancement, powerprofile

#2774 Fix WLED duplicate discoveries
  custom_components/powercalc/discovery.py
  tests/strategy/test_wled.py
Labels: bug

#2781 Add profile for Treatlife SL10
  profile_library/treatlife/SL10/color_temp.csv.gz
  profile_library/treatlife/SL10/color_temp.png
  profile_library/treatlife/SL10/hs.csv.gz
  profile_library/treatlife/SL10/hs.png
  profile_library/treatlife/SL10/model.json
  profile_library/treatlife/manufacturer.json
Labels: lightmodel, powerprofile

#2779 Add profile library Cree Cree Lighting Connected Max 60-Watt EQ A19 Tunable White E26 Dimmable Smart Light Bulb
  profile_library/cree/CMA19-60W-AL-9TW-GL/color_temp.csv.gz
  profile_library/cree/CMA19-60W-AL-9TW-GL/color_temp.png
  profile_library/cree/CMA19-60W-AL-9TW-GL/model.json
Labels: lightmodel, powerprofile

#2793 Core utility meters must not be included in group energy when us…
  custom_components/powercalc/group_include/include.py
  tests/group_include/test_include.py
Labels: bug

#2792 Cleanup code of the config flow
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/it.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
  tests/config_flow/common.py
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_discovery.py
  tests/config_flow/test_global_configuration.py
  tests/config_flow/test_group.py
  tests/config_flow/test_group_subtract.py
  tests/config_flow/test_menu.py
  tests/config_flow/test_real_power.py
  tests/config_flow/test_smart_switch.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/config_flow/test_virtual_power_library.py
  tests/config_flow/test_virtual_power_linear.py
  tests/config_flow/test_virtual_power_lut.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/config_flow/test_virtual_power_playbook.py
  tests/config_flow/test_virtual_power_wled.py
  tests/power_profile/device_types/test_smart_dimmer.py
  tests/power_profile/device_types/test_smart_switch.py
  tests/strategy/test_wled.py
  tests/test_sensor.py
Labels: enhancement

#2796 Add LXN56 dimmers from 3A smarthome
  profile_library/3a smarthome/LXN56-DC27LX1.1/model.json
  profile_library/3a smarthome/LXN56-DC27LX1.3/model.json
Labels: enhancement, powerprofile

#2800 Support non gzipped files for LUT custom profiles
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
  tests/testing_config/powercalc_profiles/lut-non-gzipped/color_temp.csv
  tests/testing_config/powercalc_profiles/lut-non-gzipped/model.json
Labels: enhancement

#2803 Skip disabled entities when using include
  custom_components/powercalc/group_include/include.py
  tests/group_include/test_include.py
Labels: bug

#2804 Utility-meters created by powercalc are skipped from energy include group
  custom_components/powercalc/group_include/include.py
  tests/group_include/test_include.py
Labels: bug

#2805 Add label support for include and filter configuration
  custom_components/powercalc/const.py
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/sensor.py
  docs/source/sensor-types/group/include-entities.md
  tests/group_include/test_filter.py
  tests/group_include/test_include.py
Labels: documentation, enhancement

#2807 add Pnet to Lidl HG08131A
  profile_library/lidl/HG08131A/model.json
Labels: powerprofile

#2806 Allow to use composite config in library profiles
  .github/workflows/validate-model-json.yml
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/strategy/factory.py
  profile_library/belkin/F7C063/model.json
  profile_library/eve/20EBU4101/model.json
  profile_library/ledworks/TWS600STP/model.json
  profile_library/lidl/HG08007/model.json
  profile_library/model_schema.json
  profile_library/tp-link/HS300/model.json
  profile_library/tp-link/KP125M/model.json
  tests/power_profile/test_power_profile.py
  tests/strategy/test_composite.py
  tests/strategy/test_factory.py
  tests/testing_config/powercalc_profiles/composite/model.json
  utils/library/validate_model_json.py
Labels: enhancement, powerprofile

#2808 Add playbook support to the library profiles
  .github/scripts/lut_validator/validate.js
  .github/workflows/validate-lut-files.yml
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/strategy/factory.py
  custom_components/powercalc/strategy/playbook.py
  profile_library/model_schema.json
  tests/strategy/test_composite.py
  tests/strategy/test_playbook.py
  tests/testing_config/powercalc_profiles/playbook/model.json
  tests/testing_config/powercalc_profiles/playbook/playbook1.csv.gz
  tests/testing_config/powercalc_profiles/playbook/playbook2.csv.gz
Labels: enhancement, model-library, playbook, powerprofile

#2809 Add profile for Hue LCC001
  profile_library/signify/LCC001/color_temp.csv.gz
  profile_library/signify/LCC001/hs.csv.gz
  profile_library/signify/LCC001/model.json
Labels: lightmodel, powerprofile

#2813 Fix outliers in Hue LCC001
  profile_library/signify/LCC001/color_temp.csv.gz
  profile_library/signify/LCC001/hs.csv.gz
Labels: bug, powerprofile

#2790 Hue LCX002
  profile_library/signify/LCX002/color_temp.csv.gz
  profile_library/signify/LCX002/hs.csv.gz
  profile_library/signify/LCX002/model.json
Labels: lightmodel, powerprofile

#2830 fix: plots for LCC001
  profile_library/signify/LCC001/color_temp.png
  profile_library/signify/LCC001/hs.png
  utils/visualize/plot.py
Labels: bug, powerprofile

#2829 Prevent duplicate tracking to fix energy spikes
  custom_components/powercalc/sensors/power.py
  tests/strategy/test_fixed.py
Labels: bug

#2832 Fix bugs in smart_switch flows and add documentation
  .github/scripts/profile_library/update-library-json.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensors/power.py
  docs/mkdocs.yml
  docs/source/library/device-types/index.md
  docs/source/library/device-types/power-meter.md
  docs/source/library/device-types/smart-switch.md
  profile_library/model_schema.json
  profile_library/shelly/shelly pm mini gen3/model.json
  tests/config_flow/test_smart_switch.py
  tests/power_profile/device_types/test_power_meter.py
  tests/power_profile/device_types/test_smart_switch.py
  tests/testing_config/powercalc/profiles/test/smart-switch-with-pm/model.json
  tests/testing_config/powercalc/profiles/test/smart-switch-without-pm/model.json
  tests/testing_config/powercalc_profiles/power-meter/model.json
Labels: documentation, enhancement, powerprofile

#2839 Add device types to docs
  docs/source/library/device-types/camera.md
  docs/source/library/device-types/index.md
  docs/source/library/device-types/light.md
  docs/source/library/structure.md
Labels: documentation, enhancement

#2842 Log device_type error as warning
  custom_components/powercalc/power_profile/power_profile.py
Labels: bug

#2843 Skip discovery for govee segmented lights
  custom_components/powercalc/discovery.py
  tests/test_discovery.py
Labels: bug

#2844 Added profile for Emos GoSmart A65 14W
  profile_library/emos/ZQW516R/color_temp.csv.gz
  profile_library/emos/ZQW516R/hs.csv.gz
  profile_library/emos/ZQW516R/model.json
Labels: lightmodel, powerprofile

#2847 Attribute color_temp is deprecated. migrate to color_temp_kelvin
  custom_components/powercalc/strategy/lut.py
  tests/power_profile/device_types/test_infrared_light.py
  tests/sensors/test_power.py
  tests/strategy/test_lut.py
  tests/testing_config/custom_components/test/light.py
  utils/measure/measure/controller/light/hass.py
  utils/measure/tests/controller/light/__init__.py
  utils/measure/tests/controller/light/test_hass.py
Labels: bug, measure-tool

#2840 Implement track/untracked power group
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/icons.json
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/abstract.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/group/factory.py
  custom_components/powercalc/sensors/group/subtract.py
  custom_components/powercalc/sensors/group/tracked_untracked.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/sensors/utility_meter.py
  custom_components/powercalc/services.yaml
  custom_components/powercalc/translations/en.json
  docs/source/sensor-types/group/custom.md
  docs/source/sensor-types/group/index.md
  docs/source/sensor-types/group/tracked-untracked.md
  tests/common.py
  tests/config_flow/common.py
  tests/config_flow/test_group.py
  tests/config_flow/test_group_tracked_untracked.py
  tests/group_include/test_filter.py
  tests/sensors/group/test_custom.py
  tests/sensors/group/test_tracked_untracked.py
  tests/sensors/test_energy.py
Labels: documentation, enhancement

#2851 Add missing authors
  .github/workflows/update-profile-library.yml
  profile_library/amazon/B09ZX7MS5B/model.json
  profile_library/casalux/led_column_rgbct_103cm_600lm/model.json
  profile_library/cree/CMA19-60W-AL-9TW-GL/model.json
  profile_library/emos/ZQW516R/model.json
  profile_library/govee/H601C/model.json
  profile_library/ikea/L2206/model.json
  profile_library/ikea/L2207/model.json
  profile_library/ikea/LED1739R5/model.json
  profile_library/ikea/ORMANAS LED Strip/model.json
  profile_library/innr/FL 122 C/model.json
  profile_library/innr/SP 240/model.json
  profile_library/kauf/BLF10/model.json
  profile_library/lidl/HG08007/model.json
  profile_library/lifx/LFXA211600RGBW/model.json
  profile_library/mercator ikuu/SMD4109W-RGB-ZB/model.json
  profile_library/paulmann licht/29145/model.json
  profile_library/paulmann licht/29147/model.json
  profile_library/paulmann licht/29150/model.json
  profile_library/paulmann licht/50396/model.json
  profile_library/robb/ROB_200-017-0/model.json
  profile_library/signify/915005997801/model.json
  profile_library/signify/929002376201/model.json
  profile_library/signify/929003045201/model.json
  profile_library/signify/929003817002/model.json
  profile_library/signify/LCC001/model.json
  profile_library/signify/LCD003/model.json
  profile_library/signify/LCD008/model.json
  profile_library/signify/LCX002/model.json
  profile_library/signify/LTG005/model.json
  profile_library/tp-link/L920/model.json
  profile_library/treatlife/SL10/model.json
  profile_library/xiaomi/philips.light.hbulb/model.json
  profile_library/yeelight/MJDP09YL/model.json
  profile_library/yeelight/YLDP25YL/model.json
Labels: enhancement, powerprofile

#2854 Add alias for hue LTG005
  profile_library/signify/LTG005/model.json
Labels: enhancement, powerprofile

#2857 fix broken group options translation
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/es.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/it.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
Labels: bug

#2852 Support same alias for multiple manufacturers in library loading code
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/helpers.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/loader/composite.py
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/protocol.py
  custom_components/powercalc/power_profile/loader/remote.py
  custom_components/powercalc/sensors/group/tracked_untracked.py
  tests/power_profile/loader/test_local.py
  tests/power_profile/loader/test_remote.py
  tests/power_profile/test_library.py
  tests/test_discovery.py
  tests/test_helpers.py
Labels: enhancement

#2860 fix broken link to library in config flow
  custom_components/powercalc/config_flow.py
Labels: bug

#2861 fix discovery issue with smart switch in osramlightify integration
  custom_components/powercalc/power_profile/power_profile.py
Labels: bug

#2864 Rediscover at time interval
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/icons.json
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/remote.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/services.yaml
  custom_components/powercalc/strategy/factory.py
  docs/source/library/library.md
  tests/strategy/test_multi_switch.py
  tests/test_discovery.py
Labels: documentation, enhancement, autodiscovery, model-library

#2871 Raise warning when WLED estimated current sensor is unavailable
  custom_components/powercalc/strategy/wled.py
  tests/strategy/test_wled.py
Labels: bug

#2872 Implement sum mode for composite strategy
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/strategy/composite.py
  custom_components/powercalc/strategy/factory.py
  docs/source/strategies/composite.md
  profile_library/model_schema.json
  tests/strategy/test_composite.py
  tests/testing_config/powercalc_profiles/composite_sum/model.json
Labels: documentation, enhancement, powerprofile
