Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-04, with the labels that each got.

#2187 fix: allow real power sensor to be selectable as group member
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensors/group.py
  tests/config_flow/test_group.py
Labels: bug

#2189 Force_calculate_group_energy naming consistent with documentation
  custom_components/powercalc/const.py
Labels: bug

#2190 More verbose logging for energy sensor creation
  custom_components/powercalc/sensors/energy.py
Labels: enhancement

#2191 Potential fix for kkWh unit of measurement issue
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/sensors/power.py
  tests/sensors/test_energy.py
Labels: bug

#2194 Added Nanoleaf Essentials A19 Matter
  custom_components/powercalc/data/nanoleaf/NF080B03-1A19E/color_temp.csv.gz
  custom_components/powercalc/data/nanoleaf/NF080B03-1A19E/hs.csv.gz
  custom_components/powercalc/data/nanoleaf/NF080B03-1A19E/model.json
Labels: lightmodel

#2196 Add color_temp lut for Xiaomi Mi Bedside Lamp 2 [MJCTD02YL]
  custom_components/powercalc/data/yeelight/MJCTD02YL/color_temp.csv.gz
  custom_components/powercalc/data/yeelight/MJCTD02YL/model.json
Labels: lightmodel

#2199 HA 2024.4 upgrade and test compat
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/power.py
  poetry.lock
  pyproject.toml
  tests/common.py
  tests/config_flow/test_group.py
  tests/group_include/test_include.py
  tests/sensors/test_group.py
  tests/test_sensor.py
Labels: enhancement

#2201 Cloudflare purge
  .github/workflows/generate-model-list.yml
  utils/library_downloader/src/index.ts
Labels: enhancement

#2206 fix translations for playbook state trigger
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
Labels: bug

#2208 add color modes to library.json
  .github/scripts/supported_models/generate_file.py
  profile_library/library_schema.json
Labels: enhancement

#2210 Allow off state to be used in playbook state trigger
  custom_components/powercalc/strategy/playbook.py
  tests/strategy/test_playbook.py
  tests/testing_config/powercalc/playbooks/states_mapping/off.csv
Labels: enhancement

#2215 Update dependencies
  .github/workflows/lint.yml
  poetry.lock
  pyproject.toml
  utils/measure/powermeter/hass.py
Labels: enhancement

#2217 Further improve startup time by decreasing unneccessary file I/O
  .github/scripts/supported_models/generate_file.py
  .github/scripts/supported_models/requirements.txt
  custom_components/powercalc/power_profile/loader/remote.py
  docs/supported_models.md
  profile_library/library.json
  tests/power_profile/loader/test_remote.py
Labels: bug
