Repository bramstroker/homeassistant-powercalc, pull requests merged in 2024-03, with the labels that each got.

#2090 Add EMOS buld
  .github/workflows/validate-lut-files.yml
  custom_components/powercalc/data/emos/ZQZ832R/color_temp.csv.gz
  custom_components/powercalc/data/emos/ZQZ832R/model.json
Labels: lightmodel

#2099 add utility meter tariff selection to daily energy sensor
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_daily_energy.py
Labels: enhancement, daily-fixed

#2100 provide different step for utility meter options in GUI config
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_group.py
  tests/config_flow/test_real_power.py
Labels: enhancement, utility-meter, config-flow

#2103 fix persisting utility meter options
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_daily_energy.py
Labels: bug, utility-meter, config-flow

#2105 fix warning regarding to async_update_entry in 2024.3
  custom_components/powercalc/__init__.py
Labels: bug

#2108 Fixes for HA 2023.4
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/sensors/group.py
  tests/group_include/test_include.py
  tests/sensors/test_group.py
  tests/testing_config/custom_components/test/light.py
Labels: bug

#2118 adding Genio I002741 profile
  custom_components/powercalc/data/genio/I002741/color_temp.csv.gz
  custom_components/powercalc/data/genio/I002741/hs.csv.gz
  custom_components/powercalc/data/genio/I002741/model.json
Labels: lightmodel

#2128 utility-meter for general tariff is created correctly for all configured cycles
  custom_components/powercalc/sensors/utility_meter.py
  tests/sensors/test_utility_meter.py
Labels: bug, utility-meter

#2131 Make source entity optional for creating virtual power sensors when using GUI
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/en.json
  docs/source/sensor-types/virtual-power-manual.rst
  tests/config_flow/common.py
  tests/config_flow/test_virtual_power_fixed.py
Labels: enhancement, config-flow

#2132 better listing of errors in LUT validator action
  .github/scripts/lut_validator/validate.js
Labels: bug

#2134 Fix LUT visualize action
  .github/workflows/validate-lut-files.yml
Labels: lightmodel

#2145 Prepare for event signature changes is 2024.4.0
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/sensor.py
Labels: bug

#2148 Don't create group energy sensors when explicitely disabled by user
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group.py
  tests/sensors/test_group.py
Labels: bug

#2152 Fix energy_sensor_id sensors correctly included in group
  custom_components/powercalc/sensor.py
  tests/sensors/test_group.py
Labels: bug

#2153 Fix bind hass decorator deprecation
  custom_components/powercalc/service/gui_configuration.py
Labels: bug

#2162 fix: broken group sensors in 2024.4 beta
  custom_components/powercalc/sensors/group.py
Labels: bug

#2166 Add Lidl 14158704L
  custom_components/powercalc/data/lidl/14158704L/color_temp.csv.gz
  custom_components/powercalc/data/lidl/14158704L/hs.csv.gz
  custom_components/powercalc/data/lidl/14158704L/model.json
Labels: lightmodel

#2167 Add create energy sensor toggle for groups in GUI
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_group.py
Labels: enhancement

#2169 Add option to forcefully create riemann sensor for powercalc group
  custom_components/powercalc/const.py
  custom_components/powercalc/device_binding.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group.py
  docs/source/configuration/sensor-configuration.rst
  docs/source/sensor-types/group.rst
  tests/sensors/test_energy.py
  tests/sensors/test_group.py
Labels: enhancement

#2170 Implement state trigger option for playbook strategy
  custom_components/powercalc/const.py
  custom_components/powercalc/strategy/playbook.py
  docs/source/strategies/playbook.rst
  tests/strategy/test_playbook.py
  tests/testing_config/powercalc/playbooks/states_mapping/idle.csv
  tests/testing_config/powercalc/playbooks/states_mapping/paused.csv
Labels: enhancement

#2175 Force_create_energy_sensor should always create an energy sensor
  custom_components/powercalc/sensor.py
  docs/source/sensor-types/real-power-sensor.rst
  tests/sensors/test_energy.py
Labels: bug

#2176 Add playbook state trigger to gui, and service to get running playbook
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/playbook.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/common.py
  tests/config_flow/test_virtual_power_playbook.py
  tests/strategy/test_playbook.py
Labels: enhancement
