Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-09, with the labels that each got.

#3431 Adding Phillips HUE LTA008
  profile_library/signify/LTA008/color_temp.csv.gz
  profile_library/signify/LTA008/model.json
Labels: powerprofile

#3435 Add Intelbras EWS410
  profile_library/intelbras/EWS410/color_temp.csv.gz
  profile_library/intelbras/EWS410/hs.csv.gz
  profile_library/intelbras/EWS410/model.json
  profile_library/intelbras/manufacturer.json
Labels: enhancement, powerprofile

#3453 Add max_power to library
  .github/scripts/profile_library/update-library.py
  profile_library/library_schema.json
Labels: enhancement, powerprofile

#3458 fix regression in linked profiles in the library
  .github/scripts/profile_library/update-library.py
  profile_library/library.json
Labels: bug, powerprofile

#3463 Add cookbook section to docs
  docs/mkdocs.yml
  docs/source/cookbook/hvac.md
  docs/source/cookbook/index.md
  docs/source/cookbook/ups.md
Labels: documentation, enhancement

#3478 Add Xiaomi Mi LED Smart Bulb device profile
  profile_library/xiaomi/Mi Smart LED Bulb Essential/color_temp.csv.gz
  profile_library/xiaomi/Mi Smart LED Bulb Essential/hs.csv.gz
  profile_library/xiaomi/Mi Smart LED Bulb Essential/model.json
Labels: enhancement, powerprofile
