Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-05, with the labels that each got.

#3264 Added light profile for PAR16-GL-WIFILIC-TY-RGBCW
  profile_library/lsc/970710/color_temp.csv.gz
  profile_library/lsc/970710/hs.csv.gz
  profile_library/lsc/970710/model.json
  profile_library/lsc/manufacturer.json
Labels: powerprofile

#3265 Added light profile Calex G95 Gold
  profile_library/calex/G95 Gold/color_temp.csv.gz
  profile_library/calex/G95 Gold/model.json
  profile_library/calex/manufacturer.json
Labels: powerprofile

#3277 Add option to disable streaming in measure tool for speaker measurements
  docs/source/library/device-types/smart-speaker.md
  utils/measure/measure/runner/speaker.py
Labels: documentation, enhancement, measure-tool

#3278 Lindby E27 light profile
  profile_library/lindby/9971013/color_temp.csv.gz
  profile_library/lindby/9971013/hs.csv.gz
  profile_library/lindby/9971013/model.json
  profile_library/lindby/manufacturer.json
Labels: powerprofile

#3266 Added light profile for Luedd
  profile_library/luedd/LUEDD Smart GU10 5W 2200-4000K + RGB/color_temp.csv.gz
  profile_library/luedd/LUEDD Smart GU10 5W 2200-4000K + RGB/hs.csv.gz
  profile_library/luedd/LUEDD Smart GU10 5W 2200-4000K + RGB/model.json
  profile_library/luedd/manufacturer.json
Labels: powerprofile

#3290 additional entry in profile library: Shelly 1 mini gen4
  profile_library/shelly/Shelly 1 Mini Gen4/+ap_+wlan/model.json
  profile_library/shelly/Shelly 1 Mini Gen4/+ap_+wlan_+bt/model.json
  profile_library/shelly/Shelly 1 Mini Gen4/+wlan_+bt_+eco/model.json
  profile_library/shelly/Shelly 1 Mini Gen4/+wlan_+eco/model.json
  profile_library/shelly/Shelly 1 Mini Gen4/model.json
Labels: powerprofile

#3288 fix resume flag was not working in measure tool
  utils/measure/measure/runner/light.py
Labels: bug, measure-tool

#3289 fix error with entity category when setting up daily fixed sensor
  custom_components/powercalc/__init__.py
  custom_components/powercalc/sensor.py
  tests/sensors/test_daily_energy.py
Labels: bug

#3291 Add Snooz SNOOZ-US-2
  profile_library/snooz/SNOOZ-US-2/model.json
Labels: powerprofile

#3240 add hue argenta color spot profile
  profile_library/signify/929003808201/color_temp.csv.gz
  profile_library/signify/929003808201/hs.csv.gz
  profile_library/signify/929003808201/model.json
Labels: powerprofile

#3297 Add variant of hue argenta color spot profile
  profile_library/signify/929003808201/model.json
Labels: powerprofile

#3307 fix issue where energy sensor could be missing from a group
  custom_components/powercalc/sensor.py
Labels: bug

#3304 Add Innr RB 249 T
  profile_library/innr/RB 249 T/color_temp.csv.gz
  profile_library/innr/RB 249 T/model.json
Labels: powerprofile
