Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-02, with the labels that each got.

#3046 fix subgroup selection missing entries
  custom_components/powercalc/sensors/group/config_entry_utils.py
  tests/config_flow/test_group.py
Labels: bug

#3047 Make start-at-zero default behaviour for grouped energy sensor
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group/custom.py
  tests/sensors/group/test_custom.py
Labels: bug

#3051 Add more tests for measure tool
  utils/measure/measure/config.py
  utils/measure/tests/conftest.py
  utils/measure/tests/controller/light/test_hass.py
  utils/measure/tests/runner/__init__.py
  utils/measure/tests/runner/test_light.py
Labels: enhancement, measure-tool

#3052 Set only_self_usage correctly in Ikea smart plug profiles
  profile_library/ikea/ASKVADER/model.json
  profile_library/ikea/TRADFRI control outlet/model.json
  profile_library/ikea/TRETAKT Smart plug/model.json
Labels: bug, powerprofile

#3050 Update light.md and add more about effect mode
  docs/source/library/device-types/light.md
Labels: documentation

#3053 Extend visualize tool for effects
  utils/visualize/playground/plotly-effect.py
  utils/visualize/plot.py
  utils/visualize/poetry.lock
  utils/visualize/pyproject.toml
Labels: enhancement

#3056 fix error during group creation related to unique_id
  custom_components/powercalc/group_include/include.py
  tests/sensors/group/test_custom.py
Labels: enhancement

#3059 Use title in subgroup selector instead of name
  custom_components/powercalc/config_flow.py
  tests/config_flow/common.py
Labels: bug

#3069 Device HmIP-FSM16 corrected measurments + strategy
  profile_library/eq-3/HmIP-FSM16/model.json
Labels: powerprofile

#3070 Device HmIP-BSM corrected measurments + strategy
  profile_library/eq-3/HmIP-BSM/model.json
Labels: powerprofile

#3073 Device HM-LC-Sw1-DR corrected measurments + strategy
  profile_library/eq-3/HM-LC-Sw1-DR/model.json
Labels: powerprofile

#3075 Device HmIP-BDT corrected measurments + strategy
  profile_library/eq-3/HmIP-BDT/model.json
Labels: powerprofile

#3072 Device HmIP-PSM corrected measurments + strategy
  profile_library/eq-3/HmIP-PSM/model.json
Labels: powerprofile

#3068 Device HmIP-FSM corrected measurments + strategy
  profile_library/eq-3/HmIP-FSM/model.json
Labels: powerprofile

#3071 Device HmIP-DRSI1 corrected measurments + strategy
  profile_library/eq-3/HmIP-DRSI1/model.json
Labels: powerprofile

#3081 Measure-Tool: Integrate update docker-image at docker-run in README.md
  utils/measure/README.md
Labels: measure-tool

#3082 Update measure.md, integrate --pull=always
  docs/source/contributing/measure.md
Labels: documentation

#3079 Implement reload service
  custom_components/powercalc/__init__.py
  custom_components/powercalc/const.py
  custom_components/powercalc/helpers.py
  custom_components/powercalc/icons.json
  custom_components/powercalc/manifest.json
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/services.yaml
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/nl.json
  docs/mkdocs.yml
  docs/source/actions/activate-playbook.md
  docs/source/actions/calibrate-energy.md
  docs/source/actions/calibrate-utility-meter.md
  docs/source/actions/change-gui-configuration.md
  docs/source/actions/get-group-entities.md
  docs/source/actions/increase-daily-energy.md
  docs/source/actions/reload.md
  docs/source/actions/reset-energy.md
  docs/source/actions/stop-playbook.md
  docs/source/actions/switch-sub-profile.md
  docs/source/actions/update-library.md
  docs/source/configuration/global-configuration.md
  docs/source/library/library.md
  docs/source/sensor-types/daily-energy.md
  docs/source/sensor-types/energy-sensor.md
  docs/source/sensor-types/group/custom.md
  docs/source/sensor-types/virtual-power-library.md
  docs/source/strategies/playbook.md
  tests/config_flow/test_global_configuration.py
  tests/sensors/test_power.py
  tests/test_init.py
Labels: documentation, enhancement

#3085 Implement thotteling for group energy state updates
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/power.py
  docs/source/configuration/global-configuration.md
  tests/config_flow/test_global_configuration.py
  tests/sensors/group/test_custom.py
  tests/sensors/test_daily_energy.py
  tests/test_helpers.py
  tests/test_init.py
Labels: documentation, enhancement

#3087 add JBL Link Music
  profile_library/jbl/Link Music/model.json
  profile_library/jbl/manufacturer.json
Labels: powerprofile

#3083 New Model: Philips 9290030514 (Hue Filament Standard A60/E27 bluetooth)
  profile_library/mueller-licht/45727/color_temp.csv.gz
  profile_library/mueller-licht/45727/model.json
  profile_library/philips/9290030514/brightness.csv.gz
  profile_library/philips/9290030514/model.json
Labels: powerprofile

#3089 Improve google home profile
  profile_library/google/Home/model.json
Labels: powerprofile

#3096 Add ikea icpshc24 30 eu il 1
  profile_library/ikea/ICPSHC24-30EU-IL-1/model.json
Labels: powerprofile

#3101 Add sub profile remarks to config flow
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/es.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/it.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
  profile_library/model_schema.json
  tests/config_flow/test_virtual_power_library.py
  tests/testing_config/powercalc/profiles/test/sub_profile/model.json
Labels: enhancement, powerprofile

#3104 Add Tuya Forever Light Smart Plug
  profile_library/ikea/TRADFRI control outlet/model.json
  profile_library/tuya/FLSP10A/model.json
Labels: enhancement, powerprofile

#3105 Add more fields to library json
  .github/scripts/profile_library/update-library.py
  profile_library/library.json
Labels: enhancement, powerprofile

#3114 Implement hashing mechanism for more robust library update routine
  .github/scripts/profile_library/update-library.py
  custom_components/powercalc/power_profile/loader/remote.py
  tests/power_profile/loader/test_remote.py
Labels: enhancement, powerprofile

#3117 minor fixes for effect measurements
  utils/measure/measure/runner/light.py
Labels: bug, measure-tool

#3120 fix key error on calling reload
  custom_components/powercalc/__init__.py
Labels: bug

#3121 fix template deprecation notice
  custom_components/powercalc/strategy/factory.py
Labels: bug

#3122 Adding names to sub-profiles of Aqara cl l02 d
  profile_library/aqara/CL-L02D/rgb/model.json
  profile_library/aqara/CL-L02D/white/model.json
Labels: powerprofile, subprofile

#3129 fix issue introduced in 1.17.7 where template sensors won't update anymore
  custom_components/powercalc/sensors/power.py
  tests/sensors/test_power.py
  tests/strategy/test_fixed.py
Labels: bug

#3131 fix issue introduced in 1.17.7 where template sensors won't update anymore
  custom_components/powercalc/sensors/power.py
  tests/strategy/test_fixed.py
Labels: bug

#3125 New Profile Shelly 1 mini Gen3
  profile_library/shelly/Shelly 1 mini gen3/+wlan_+bt_+eco/model.json
  profile_library/shelly/Shelly 1 mini gen3/+wlan_+eco/model.json
  profile_library/shelly/Shelly 1 mini gen3/model.json
  profile_library/shelly/Shelly 1 mini gen3/other/model.json
Labels: powerprofile

#3126 New Profile Shelly 1PM mini Gen3
  profile_library/shelly/Shelly 1PM Mini Gen3/+wlan_+bt_+eco/model.json
  profile_library/shelly/Shelly 1PM Mini Gen3/+wlan_+eco/model.json
  profile_library/shelly/Shelly 1PM Mini Gen3/model.json
  profile_library/shelly/Shelly 1PM Mini Gen3/other/model.json
Labels: powerprofile

#3127 Profile Update Shelly 1PM - Adding sub-profiles
  profile_library/shelly/Shelly 1PM/+wlan_+bt_+eco/model.json
  profile_library/shelly/Shelly 1PM/+wlan_+eco/model.json
  profile_library/shelly/Shelly 1PM/default/model.json
  profile_library/shelly/Shelly 1PM/model.json
Labels: powerprofile

#3130 Philips Hue Calla Outdoor
  profile_library/signify/1741930V7/color_temp.csv.gz
  profile_library/signify/1741930V7/hs.csv.gz
  profile_library/signify/1741930V7/model.json
Labels: powerprofile

#3132 fix move hue profile to signify
  profile_library/philips/manufacturer.json
  profile_library/signify/1741930V7/model.json
  profile_library/signify/9290030514/brightness.csv.gz
  profile_library/signify/9290030514/model.json
  tests/power_profile/test_library.py
Labels: bug, powerprofile

#3139 fix bug with placeholder in french translation
  custom_components/powercalc/translations/fr.json
Labels: bug

#3142 Shelly subprofile other naming more understandable
  profile_library/shelly/Shelly 1 mini gen3/other/model.json
  profile_library/shelly/Shelly 1PM Mini Gen3/other/model.json
  profile_library/shelly/Shelly I4 Gen3/other/model.json
Labels: powerprofile

#3141 Add Model Shelly Plus 1PM
  profile_library/shelly/Shelly Plus 1PM/+wlan_+bt_+eco/model.json
  profile_library/shelly/Shelly Plus 1PM/+wlan_+eco/model.json
  profile_library/shelly/Shelly Plus 1PM/default/model.json
  profile_library/shelly/Shelly Plus 1PM/model.json
Labels: powerprofile

#3145 Fix Model Shelly I4 Gen3 not creating entities
  profile_library/shelly/Shelly I4 Gen3/model.json
Labels: bug, powerprofile

#3147 Improve library match mechanism to also check for lowercased
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/loader/remote.py
  tests/power_profile/loader/test_remote.py
Labels: bug

#3149 fix existing device link is removed when changing device
  custom_components/powercalc/device_binding.py
  tests/test_device_binding.py
Labels: bug
