Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-04, with the labels that each got.

#3231 Improve Xiaomi Mi Bedside Lamp 2 measurements
  profile_library/signify/929003618001/model.json
  profile_library/yeelight/MJCTD02YL/color_temp.csv.gz
  profile_library/yeelight/MJCTD02YL/color_temp.png
  profile_library/yeelight/MJCTD02YL/hs.csv.gz
  profile_library/yeelight/MJCTD02YL/hs.png
  profile_library/yeelight/MJCTD02YL/model.json
Labels: enhancement, powerprofile

#3232 Allow Shelly 2.5 to be setup with detached switches
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/strategy/factory.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/strategy/test_multi_switch.py
Labels: bug

#3234 Fix friendly name config is respected for substract group sensor
  custom_components/powercalc/sensors/group/subtract.py
  tests/sensors/group/test_subtract.py
Labels: bug

#3233 Retry measure tool hue few times on request timeout
  utils/measure/measure/controller/light/hue.py
Labels: enhancement, measure-tool

#3238 fix model listing in GUI is sorted correctly
  custom_components/powercalc/power_profile/library.py
  tests/power_profile/loader/test_remote.py
  tests/power_profile/test_library.py
Labels: bug

#3241 Add Hue Smart Switch US Model - LOM010
  profile_library/signify/LOM010/model.json
Labels: powerprofile

#3244 Remove unavailable entityCategory system from choices
  custom_components/powercalc/const.py
  docs/source/configuration/entity-category.md
  docs/source/configuration/global-configuration.md
Labels: bug, documentation

#3246 Add fan device type
  custom_components/powercalc/power_profile/power_profile.py
  profile_library/model_schema.json
Labels: enhancement, powerprofile

#3245 Create model.json for STARKVIND Air purifier table
  profile_library/ikea/STARKVIND Air purifier table/model.json
Labels: powerprofile

#3248 Add Hue ambiance downlight (LDT001)
  profile_library/signify/LDT001/color_temp.csv.gz
  profile_library/signify/LDT001/model.json
Labels: powerprofile

#3247 Add fan support to measure tool
  docs/mkdocs.yml
  docs/source/library/device-types/fan.md
  utils/measure/.env.dist
  utils/measure/measure/config.py
  utils/measure/measure/const.py
  utils/measure/measure/controller/answerable_protocol.py
  utils/measure/measure/controller/charging/controller.py
  utils/measure/measure/controller/charging/hass.py
  utils/measure/measure/controller/errors.py
  utils/measure/measure/controller/fan/__init__.py
  utils/measure/measure/controller/fan/const.py
  utils/measure/measure/controller/fan/controller.py
  utils/measure/measure/controller/fan/dummy.py
  utils/measure/measure/controller/fan/factory.py
  utils/measure/measure/controller/fan/hass.py
  utils/measure/measure/controller/hass_controller.py
  utils/measure/measure/controller/light/hass.py
  utils/measure/measure/controller/media/controller.py
  utils/measure/measure/controller/media/hass.py
  utils/measure/measure/measure.py
  utils/measure/measure/runner/charging.py
  utils/measure/measure/runner/fan.py
  utils/measure/measure/runner/light.py
  utils/measure/measure/runner/recorder.py
  utils/measure/measure/runner/runner.py
  utils/measure/measure/runner/speaker.py
  utils/measure/tests/conftest.py
  utils/measure/tests/controller/fan/__init__.py
  utils/measure/tests/controller/fan/test_hass.py
  utils/measure/tests/controller/light/test_hass.py
  utils/measure/tests/runner/test_fan.py
  utils/measure/tests/test_measure.py
Labels: documentation, enhancement, measure-tool

#3254 Add option to exclude entities from auto tracked sensor group
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensors/group/tracked_untracked.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_group_tracked_untracked.py
Labels: enhancement

#3257 Update model.json
  profile_library/signify/LTG002/model.json
Labels: powerprofile

#3261 Add LEDVANCE 4058075729223 profile
  profile_library/ledvance/4058075729223/brightness.csv.gz
  profile_library/ledvance/4058075729223/model.json
Labels: powerprofile
