Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-07, with the labels that each got.

#3342 fix github actions
  poetry.lock
  profile_library/kogan/KASB10WB22HA/model.json
  profile_library/kogan/manufacturer.json
  pyproject.toml
Labels: bug, powerprofile

#3344 Add choice for batter level attribute or entity in measure util
  custom_components/powercalc/helpers.py
  custom_components/powercalc/strategy/linear.py
  custom_components/powercalc/strategy/wled.py
  tests/strategy/test_factory.py
  tests/strategy/test_fixed.py
  tests/strategy/test_linear.py
  tests/test_helpers.py
  utils/measure/measure/controller/charging/const.py
  utils/measure/measure/controller/charging/hass.py
  utils/measure/tests/controller/charging/__init__.py
  utils/measure/tests/controller/charging/test_hass.py
  utils/measure/tests/runner/test_fan.py
  utils/measure/tests/runner/test_light.py
  utils/measure/tests/test_measure.py
Labels: enhancement, measure-tool

#3348 Add uninstall guide
  docs/mkdocs.yml
  docs/source/misc/uninstall.md
Labels: documentation, enhancement

#3351 added dreo fan DR-HTF001S
  profile_library/dreo/DR-HTF001S/model.json
Labels: enhancement, powerprofile

#3360 Adding Aeotec ZWA023
  profile_library/aeotec/ZWA023/model.json
  profile_library/aeotec/manufacturer.json
  profile_library/dreo/manufacturer.json
Labels: powerprofile

#3358 Adding Lutron Plug-In Dimmer
  profile_library/lutron/PD-3PCL-WH/model.json
  profile_library/lutron/manufacturer.json
Labels: powerprofile

#3362 Multiple fixes for upcoming HA 2025.8 version
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/group/tracked_untracked.py
  custom_components/powercalc/sensors/utility_meter.py
  custom_components/powercalc/strategy/composite.py
  tests/sensors/test_energy.py
Labels: bug

#3373 fix broken shelly plug s profile
  profile_library/shelly/shelly plug s/model.json
  tests/power_profile/user_scenarios/test_shelly_plug.py
Labels: bug, powerprofile

#3375 Set suggested display precision for HA frontend
  custom_components/powercalc/sensors/daily_energy.py
  custom_components/powercalc/sensors/energy.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/sensors/utility_meter.py
  tests/sensors/test_energy.py
  tests/sensors/test_power.py
Labels: bug

#3380 Rename linked_lut to linked_profile and add documentation
  docs/mkdocs.yml
  docs/source/library/structure.md
  profile_library/ikea/LED1936G5/model.json
  profile_library/library.json
  profile_library/signify/1743130P7/model.json
  profile_library/signify/3216231P6/model.json
  profile_library/signify/4080130P6/model.json
  profile_library/signify/4300631P6/model.json
  profile_library/signify/5063431P7/model.json
  profile_library/signify/LCA007/model.json
  profile_library/signify/LLC013/model.json
  profile_library/signify/LTV001/model.json
  profile_library/signify/LTV002/model.json
  profile_library/signify/LWA003/model.json
  profile_library/signify/LWA008/model.json
  profile_library/signify/LWO002/model.json
  profile_library/signify/LWV002/model.json
Labels: documentation, enhancement, powerprofile

#3383 Add power_sensor_precision to docs
  docs/source/configuration/global-configuration.md
Labels: documentation
