Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-08, with the labels that each got.

#3389 Add manufacturer and model to repair dialog
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/es.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/it.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
Labels: enhancement

#3402 fix: Validation of translation placeholders error
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/repairs.py
Labels: bug

#3404 Definite fix translation placeholder mismatch
  custom_components/powercalc/translations/en.json
Labels: bug

#3416 fix utility meter precision respects energy_sensor_precision setting
  custom_components/powercalc/sensors/utility_meter.py
  tests/sensors/test_utility_meter.py
Labels: bug

#3406 Adding Shelly Plus Plug US
  profile_library/shelly/Shelly Plus Plug US/model.json
Labels: powerprofile

#3423 Adding Sonos Five Profile
  profile_library/sonos/five/model.json
Labels: powerprofile

#3421 Added Sony LF-S50G Smart Speaker
  profile_library/sony/LF-S50G/model.json
Labels: powerprofile

#3424 Adding Sonos Arc Ultra Profile
  profile_library/sonos/arc ultra/model.json
Labels: powerprofile

#3426 Adding Sonos Era 300 Profile
  profile_library/sonos/Era 300/model.json
Labels: powerprofile
