Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-01, with the labels that each got.

#2873 Implement custom fields for power profiles
  .github/scripts/profile_library/update-authors.py
  .github/scripts/profile_library/update-library-json.py
  .github/scripts/profile_library/update-library.py
  .github/workflows/update-profile-library.yml
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/flow_helper/__init__.py
  custom_components/powercalc/flow_helper/dynamic_field_builder.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/helpers.py
  custom_components/powercalc/power_profile/factory.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/strategy/factory.py
  docs/mkdocs.yml
  docs/source/library/custom-fields.md
  profile_library/model_schema.json
  tests/config_flow/test_dynamic_field_builder.py
  tests/config_flow/test_virtual_power_library.py
  tests/power_profile/device_types/test_custom_fields.py
  tests/power_profile/loader/test_local.py
  tests/power_profile/test_power_profile.py
  tests/strategy/test_lut.py
  tests/testing_config/powercalc/profiles/test/custom-fields/model.json
  tests/testing_config/powercalc_profiles/custom-fields-template/model.json
Labels: documentation, enhancement, powerprofile

#2876 Implement auto populate multi switch entities
  README.md
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensors/power.py
  docs/source/library/device-types/smart-switch.md
  profile_library/tp-link/HS300/model.json
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/testing_config/powercalc/profiles/tp-link/HS300/model.json
  tests/testing_config/powercalc_profiles/multi_switch/model.json
Labels: documentation, enhancement, config-flow, powerprofile, multi_switch strategy

#2878 fix selection of osram lightify plugs
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
  tests/conftest.py
  tests/power_profile/loader/test_remote.py
  tests/power_profile/test_power_profile.py
  tests/power_profile/user_scenarios/test_lightify_plug.py
  tests/power_profile/user_scenarios/test_nintendo_switch.py
Labels: bug

#2883 fix issue where powercalc would discovery own powercalc entities
  custom_components/powercalc/discovery.py
  tests/test_discovery.py
  tests/testing_config/powercalc/profiles/test/generic-iot/model.json
Labels: bug

#2884 remove possibility to change entity for discovery type device
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_virtual_power_library.py
Labels: bug

#2885 fix not all manufacturers were selectable when using local library
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
Labels: bug

#2886 prevent duplicate discovery for device based discovery flow
  custom_components/powercalc/discovery.py
Labels: bug

#2887 Optimize discovery and improve logging
  custom_components/powercalc/discovery.py
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/group_include/include.py
  tests/group_include/test_include.py
  tests/test_discovery.py
Labels: enhancement

#2892 fix broken options flow
  custom_components/powercalc/config_flow.py
Labels: bug

#2651 add mueller-licht extended color light (GU11)
  profile_library/mueller-licht/404005/color_temp.csv.gz
  profile_library/mueller-licht/404005/hs.csv.gz
  profile_library/mueller-licht/404005/model.json
Labels: lightmodel, powerprofile

#2906 HMIP-FDT is a smart_dimmer
  profile_library/eq-3/HmIP-FDT/model.json
Labels: powerprofile

#2905 Add Google Home Hub Max
  profile_library/google/Home Hub Max/model.json
Labels: powerprofile

#2912 add discovery_by to library.json
  .github/scripts/profile_library/update-library.py
  profile_library/google/Home Hub Max/model.json
Labels: bug, powerprofile

#2913 Support light entities to be used with smart_switch profiles
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/group_include/include.py
  custom_components/powercalc/power_profile/power_profile.py
  tests/power_profile/test_power_profile.py
Labels: enhancement

#2914 Implement and fix default discovery remarks for smart switches and dimmers
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/translations/en.json
  tests/power_profile/device_types/test_smart_switch.py
  tests/power_profile/test_power_profile.py
  tests/sensors/test_power.py
  tests/testing_config/powercalc_profiles/smart_dimmer_with_pm/model.json
  tests/testing_config/powercalc_profiles/smart_switch/model.json
  tests/testing_config/powercalc_profiles/smart_switch_power_input/model.json
  tests/testing_config/powercalc_profiles/smart_switch_with_pm/model.json
Labels: enhancement

#2927 Allow to select lights in multi_switch entity selection
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/testing_config/powercalc/profiles/test/multi_switch/model.json
Labels: bug

#2893 Implement consistent group assignment in config flow
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group/config_entry_utils.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/common.py
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_group.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/config_flow/test_virtual_power_library.py
  tests/config_flow/test_virtual_power_linear.py
  tests/config_flow/test_virtual_power_playbook.py
Labels: enhancement

#2928 fix error when selecting light entity in multi_switch setup
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_virtual_power_multi_switch.py
Labels: bug

#2934 Update Measure README.md
  utils/measure/README.md
Labels: measure-tool

#2938 Update Measure README.md
  utils/measure/README.md
Labels: measure-tool

#2933 Show sub profile name in sub profile select
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensors/power.py
  tests/config_flow/test_virtual_power_library.py
  tests/power_profile/test_library.py
  tests/testing_config/powercalc/profiles/test/sub_profile/a/model.json
  tests/testing_config/powercalc/profiles/test/sub_profile/b/model.json
  tests/testing_config/powercalc/profiles/test/sub_profile/model.json
Labels: enhancement

#2940 prepopulate model and manufacturer in library options
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_virtual_power_library.py
Labels: bug

#2941 Remove fixed options for only_self_usage profiles
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_smart_switch.py
  tests/config_flow/test_virtual_power_fixed.py
  tests/testing_config/powercalc/profiles/test/power_meter/model.json
Labels: bug

#2944 fix entity can be rediscovered after config entry removed
  custom_components/powercalc/__init__.py
  custom_components/powercalc/discovery.py
Labels: bug

#2947 Add availability entity to control availability of powercalc entity
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/power.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/common.py
  tests/config_flow/test_discovery.py
  tests/config_flow/test_smart_switch.py
  tests/config_flow/test_virtual_power_library.py
  tests/config_flow/test_virtual_power_lut.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/power_profile/device_types/test_smart_dimmer.py
  tests/power_profile/device_types/test_smart_switch.py
  tests/power_profile/user_scenarios/test_lightify_plug.py
  tests/sensors/test_power.py
  tests/testing_config/powercalc/profiles/test/sub_profile/model.json
Labels: enhancement

#2948 Prevent duplicate discovery by ignoring switch_as_x entities
  custom_components/powercalc/discovery.py
  tests/test_discovery.py
Labels: bug

#2953 Allow cover entities to be used in multi_switch strategy
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/strategy/multi_switch.py
  tests/strategy/test_multi_switch.py
Labels: enhancement

#2782 Use the new smart_dimmer class for the HmIP-BDT device
  profile_library/eq-3/HmIP-BDT/model.json
Labels: powerprofile

#2956 Refactor pr comment workflow
  .github/workflows/pr-comment-generate-plots.yml
  .github/workflows/pr-comment-upload-and-comment.yml
  .github/workflows/validate-lut-files.yml
Labels: bug

#2965 fix power sensors using template getting unavailable after startup
  custom_components/powercalc/sensors/power.py
  tests/power_profile/device_types/test_multi_switch.py
  tests/strategy/test_fixed.py
Labels: bug

#2968 fix device binding for discoveryBy device profiles
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/device_binding.py
  tests/config_flow/test_discovery.py
  tests/config_flow/test_virtual_power_multi_switch.py
  tests/test_device_binding.py
  tests/test_sensor.py
Labels: bug

#2920 Added profile for Shelly 1PM
  profile_library/shelly/Shelly 1PM/model.json
Labels: powerprofile

#2915 Added profile for Shelly Dimmer
  profile_library/shelly/Shelly Dimmer/model.json
Labels: powerprofile

#2903 Added profile for Shelly EM
  profile_library/shelly/Shelly EM/model.json
Labels: powerprofile

#2910 Added profile for Shelly 1
  profile_library/shelly/Shelly 1/model.json
Labels: powerprofile

#2973 Implement option flow for domain group type
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_group_domain.py
Labels: enhancement

#2966 Add TP-Link Kasa HS103
  profile_library/tp-link/HS103/model.json
Labels: powerprofile

#2975 Pre-populate multi-switch entities in discovery flow
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_discovery.py
  tests/config_flow/test_virtual_power_multi_switch.py
Labels: enhancement

#2977 Change smart switch profiles to match docs
  profile_library/aqara/lumi.plug.maeu01/model.json
  profile_library/arlec/PC191HA/model.json
  profile_library/arlec/PC192HA/model.json
  profile_library/arlec/PC287HA/model.json
  profile_library/athom/smart-plug-au/model.json
  profile_library/avm/FRITZ!DECT 200/model.json
  profile_library/avm/FRITZ!DECT 210/model.json
  profile_library/belkin/F7C063/model.json
  profile_library/blitzwolf/SHP6-15A/model.json
  profile_library/blitzwolf/SHP6/model.json
  profile_library/bosch/PLUG_COMPACT/model.json
  profile_library/eq-3/HM-ES-PMSw1-DR/model.json
  profile_library/eq-3/HM-LC-Sw1-DR/model.json
  profile_library/eq-3/HmIP-BSM/model.json
  profile_library/eq-3/HmIP-DRSI1/model.json
  profile_library/eq-3/HmIP-FSM/model.json
  profile_library/eq-3/HmIP-FSM16/model.json
  profile_library/eq-3/HmIP-PSM/model.json
  profile_library/eve/20EBU4101/model.json
  profile_library/everspring/AN158/model.json
  profile_library/ewelink/SA-003-Zigbee/model.json
  profile_library/fibaro/FGWP102/model.json
  profile_library/greenwave/GWPN1/model.json
  profile_library/ikea/ASKVADER/model.json
  profile_library/ikea/INSPELNING Smart plug/model.json
  profile_library/ikea/TRADFRI control outlet/model.json
  profile_library/ikea/TRETAKT Smart plug/model.json
  profile_library/innr/SP 120/model.json
  profile_library/innr/SP 220/model.json
  profile_library/innr/SP 224/model.json
  profile_library/innr/SP 240/model.json
  profile_library/lidl/HG08673/model.json
  profile_library/neo-coolcam/NAS-WR01Z/model.json
  profile_library/nodon/Micro Smart Plug/model.json
  profile_library/nous/A1T/model.json
  profile_library/nous/A1Z/model.json
  profile_library/osram/LIGHTIFY Plug 01/model.json
  profile_library/qubino/Smart Plug 16A/model.json
  profile_library/robb/ROB_200-017-0/model.json
  profile_library/shelly/shelly plug s/model.json
  profile_library/shelly/shelly plus plug s/model.json
  profile_library/signify/LOM001/model.json
  profile_library/signify/LOM002/model.json
  profile_library/signify/LOM007/model.json
  profile_library/sonoff/S20/model.json
  profile_library/sonoff/ZBMINI/model.json
  profile_library/tp-link/HS100/model.json
  profile_library/tp-link/HS103/model.json
  profile_library/tp-link/HS110/model.json
  profile_library/tp-link/KP115/model.json
  profile_library/tp-link/KP125M/model.json
  profile_library/tp-link/P100/model.json
  profile_library/tuya/TS011F/model.json
  profile_library/tuya/TS0121_plug/model.json
Labels: enhancement, powerprofile

#2980 Implement start at zero option for energy groups
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_group.py
  tests/sensors/group/test_custom.py
Labels: enhancement

#2987 Add TP-Link Kasa EP10
  profile_library/tp-link/EP10/model.json
Labels: powerprofile

#2982 fix power sensor using template not always correctly tracked
  custom_components/powercalc/sensors/power.py
  tests/power_profile/device_types/test_multi_switch.py
Labels: bug

#2992 Add TP-Link Kasa HS105
  profile_library/tp-link/HS105/model.json
Labels: powerprofile

#2918 Added profile for Shelly 2.5
  profile_library/shelly/Shelly 2.5/model.json
Labels: powerprofile

#2919 Added profile for Shelly i3
  profile_library/shelly/Shelly i3/model.json
Labels: powerprofile

#2902 Shelly 3EM, PlugS, Plus PlugS, PM MINI Gen3 - added model ids, discov…
  profile_library/shelly/Shelly 3EM/model.json
  profile_library/shelly/shelly plug s/model.json
  profile_library/shelly/shelly plus plug s/model.json
  profile_library/shelly/shelly pm mini gen3/model.json
Labels: powerprofile

#2950 Added Shelly Pro 3EM (with multiple profiles)
  profile_library/shelly/Shelly Pro 3EM 3CT63/eth+bt/model.json
  profile_library/shelly/Shelly Pro 3EM 3CT63/eth+wifi_ap+wifi_clnt+bt/model.json
  profile_library/shelly/Shelly Pro 3EM 3CT63/eth+wifi_clnt+bt/model.json
  profile_library/shelly/Shelly Pro 3EM 3CT63/eth+wifi_clnt/model.json
  profile_library/shelly/Shelly Pro 3EM 3CT63/eth/model.json
  profile_library/shelly/Shelly Pro 3EM 3CT63/model.json
  profile_library/shelly/Shelly Pro 3EM 3CT63/wifi_clnt/model.json
Labels: powerprofile

#2996 fix standby_power field was not shown anymore in options flow
  custom_components/powercalc/config_flow.py
  tests/config_flow/test_virtual_power_fixed.py
Labels: bug

#2998 New signfy hue bulb 929002471901
  profile_library/signify/929002471901/color_temp.csv.gz
  profile_library/signify/929002471901/model.json
Labels: powerprofile

#3000 fix power for shelly PM gen3 was always unknown
  custom_components/powercalc/sensors/power.py
  tests/power_profile/device_types/test_power_meter.py
Labels: bug

#2993 More info for choosing the correct subprofile
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  profile_library/signify/929002471901/model.json
Labels: powerprofile

#2990 Shelly Duo RGBW
  profile_library/library.json
  profile_library/shelly/Shelly Bulb RGBW/color_temp.csv.gz
  profile_library/shelly/Shelly Bulb RGBW/hs.csv.gz
  profile_library/shelly/Shelly Bulb RGBW/model.json
Labels: powerprofile

#3001 Update model.json
  profile_library/ikea/INSPELNING Smart plug/model.json
Labels: powerprofile

#3003 Add option to exclude certain device_types from discovery
  custom_components/powercalc/__init__.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/translations/en.json
  docs/mkdocs.yml
  docs/source/configuration/global-configuration.md
  docs/source/library/discovery.md
  docs/source/library/library.md
  tests/config_flow/test_global_configuration.py
  tests/test_discovery.py
Labels: documentation, enhancement

#3008 Add Tuya CK-BL702-AL-01
  profile_library/tuya/CK-BL702-AL-01/color_temp.csv.gz
  profile_library/tuya/CK-BL702-AL-01/hs.csv.gz
  profile_library/tuya/CK-BL702-AL-01/model.json
Labels: powerprofile

#3006 fix issue with area group not being available after restart
  custom_components/powercalc/group_include/include.py
  tests/sensors/group/test_custom.py
Labels: bug

#3009 fix make it only possible to choose standard group in group selection
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/sensors/group/config_entry_utils.py
  profile_library/tuya/CK-BL702-AL-01/model.json
  tests/config_flow/test_daily_energy.py
  tests/config_flow/test_group.py
Labels: bug, powerprofile

#3011 Add entity_it to first pane of discovery flow
  custom_components/powercalc/common.py
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/de.json
  custom_components/powercalc/translations/en.json
  custom_components/powercalc/translations/es.json
  custom_components/powercalc/translations/fr.json
  custom_components/powercalc/translations/it.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sk.json
  custom_components/powercalc/translations/sv.json
  tests/config_flow/test_virtual_power_lut.py
  tests/test_common.py
Labels: enhancement

#3010 New Model: Mueller-Licht 404094
  profile_library/mueller-licht/404094/color_temp.csv.gz
  profile_library/mueller-licht/404094/model.json
Labels: powerprofile

#3012 Add option to add power sensors from device to a group
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/const.py
  custom_components/powercalc/group_include/filter.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/translations/en.json
  tests/config_flow/test_group.py
  tests/group_include/test_filter.py
Labels: enhancement

#3014 Adding rated power into model-name
  profile_library/mueller-licht/404094/model.json
  profile_library/tuya/CK-BL702-AL-01/model.json
Labels: powerprofile

#3021 fix missing placeholder error
  custom_components/powercalc/translations/cz.json
  custom_components/powercalc/translations/es.json
  custom_components/powercalc/translations/it.json
  custom_components/powercalc/translations/nl.json
  custom_components/powercalc/translations/pl.json
  custom_components/powercalc/translations/pt-BR.json
  custom_components/powercalc/translations/pt.json
  custom_components/powercalc/translations/ro.json
  custom_components/powercalc/translations/sv.json
Labels: bug

#3024 Adding MOES Matter Light
  profile_library/moes/1412/color_temp.csv.gz
  profile_library/moes/1412/hs.csv.gz
  profile_library/moes/1412/model.json
  profile_library/moes/manufacturer.json
Labels: powerprofile

#2986 New model: Aqara CL-L02D
  profile_library/aqara/CL-L02D/model.json
  profile_library/aqara/CL-L02D/rgb/color_temp.csv.gz
  profile_library/aqara/CL-L02D/rgb/color_temp.png
  profile_library/aqara/CL-L02D/rgb/hs.csv.gz
  profile_library/aqara/CL-L02D/rgb/hs.png
  profile_library/aqara/CL-L02D/rgb/model.json
  profile_library/aqara/CL-L02D/white/color_temp.csv.gz
  profile_library/aqara/CL-L02D/white/color_temp.png
  profile_library/aqara/CL-L02D/white/model.json
Labels: powerprofile

#3019 New Model: TY-A60-15W
  profile_library/tuya/TY-A60-15W/color_temp.csv.gz
  profile_library/tuya/TY-A60-15W/hs.csv.gz
  profile_library/tuya/TY-A60-15W/model.json
Labels: powerprofile

#3030 Adding Hampton Bay HB-10521-HS String Lights
  profile_library/hampton bay/HB-10521-HS/color_temp.csv.gz
  profile_library/hampton bay/HB-10521-HS/hs.csv.gz
  profile_library/hampton bay/HB-10521-HS/model.json
  profile_library/hampton bay/manufacturer.json
Labels: powerprofile

#3037 New Model: Tuya TYC-300mm-Z
  profile_library/tuya/TYC-300mm-Z/color_temp.csv.gz
  profile_library/tuya/TYC-300mm-Z/hs.csv.gz
  profile_library/tuya/TYC-300mm-Z/model.json
Labels: powerprofile

#3041 fix measure tool kelvin deprecation issue in HA log
  profile_library/tuya/TYC-300mm-Z/model.json
  utils/measure/measure/controller/light/hass.py
Labels: bug, measure-tool, powerprofile
