Repository bramstroker/homeassistant-powercalc, pull requests merged in 2025-03, with the labels that each got.

#3168 better error logging for missing color_temp_kelvin attribute
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
Labels: bug

#3171 fix calculation issue with sonos profile when you have multiple of the same model
  custom_components/powercalc/power_profile/library.py
  tests/power_profile/test_power_profile.py
Labels: bug

#3175 Auto select sub profile for Shelly Plus 1PM
  profile_library/library.json
  profile_library/shelly/Shelly Plus 1PM/model.json
  tests/power_profile/test_library.py
Labels: enhancement, powerprofile

#3177 added lcg006 profile
  profile_library/signify/LCG006/color_temp.csv.gz
  profile_library/signify/LCG006/hs.csv.gz
  profile_library/signify/LCG006/model.json
Labels: powerprofile

#3184 fix measure tool unneccessary extra waits
  utils/measure/measure/runner/light.py
Labels: bug, measure-tool

#3197 Add Elgato Light Strip profile
  profile_library/elgato/Elgato Light Strip/color_temp.csv.gz
  profile_library/elgato/Elgato Light Strip/hs.csv.gz
  profile_library/elgato/Elgato Light Strip/model.json
Labels: powerprofile

#3200 Add Elgato Light Strip Pro profile
  profile_library/elgato/Elgato Light Strip Pro/color_temp.csv.gz
  profile_library/elgato/Elgato Light Strip Pro/hs.csv.gz
  profile_library/elgato/Elgato Light Strip Pro/model.json
Labels: powerprofile

#3185 Add Hue / Signify Garnea Downlight and Calla Large Outdoor Pedestal profiles
  profile_library/signify/1743730P7/color_temp.csv.gz
  profile_library/signify/1743730P7/hs.csv.gz
  profile_library/signify/1743730P7/model.json
  profile_library/signify/LTD011/color_temp.csv.gz
  profile_library/signify/LTD011/model.json
Labels: powerprofile

#3191 Add aliases for Hue centris spots
  profile_library/signify/LCG002/model.json
Labels: powerprofile

#3208 Add API endpoint to retrieve manufacturer info
  utils/library_downloader/src/index.ts
Labels: enhancement

#3212 fix typescript error
  utils/library_downloader/src/index.ts
Labels: enhancement

#2833 Add custom profile for Centris 2-spot ceiling light (signify 5061030P7)
  profile_library/library.json
  profile_library/signify/5061030P7/color_temp.csv.gz
  profile_library/signify/5061030P7/hs.csv.gz
  profile_library/signify/5061030P7/model.json
Labels: lightmodel, powerprofile

#3211 Add support for white color mode
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
  tests/testing_config/powercalc_profiles/lut_white/brightness.csv
  tests/testing_config/powercalc_profiles/lut_white/model.json
  utils/measure/measure/controller/light/const.py
  utils/measure/measure/controller/light/hass.py
  utils/measure/measure/runner/light.py
Labels: enhancement, measure-tool
